examples/01 - Read Single Variable.json
[
    {
        "id": "ex01-endpoint",
        "type": "opcua-endpoint",
        "name": "Test Server",
        "endpointUrl": "opc.tcp://localhost:4841/UA/TestServer",
        "securityMode": "None",
        "securityPolicy": "None"
    },
    {
        "id": "ex01-tab",
        "type": "tab",
        "label": "01 - Read Single Variable",
        "info": "Read a single OPC UA variable. The inject node sets msg.topic to the NodeId, the client reads it.\n\nThis example uses the included Docker test server. Start it with:\n\n    docker compose up -d\n\nThe test server listens on opc.tcp://localhost:4841/UA/TestServer and provides demo NodeIds in namespace 1 (e.g. ns=1;s=Scalar.Double).\n\nTo use your own server, edit the endpoint URL on the OPC UA Client config node."
    },
    {
        "id": "ex01-comment",
        "type": "comment",
        "z": "ex01-tab",
        "name": "Click an inject button to read a variable from the test server",
        "x": 280,
        "y": 40,
        "wires": []
    },
    {
        "id": "ex01-inject",
        "type": "inject",
        "z": "ex01-tab",
        "name": "Read Scalar.Double",
        "props": [
            { "p": "topic", "vt": "str", "v": "ns=1;s=Scalar.Double" }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 120,
        "wires": [["ex01-client"]]
    },
    {
        "id": "ex01-inject-int",
        "type": "inject",
        "z": "ex01-tab",
        "name": "Read Scalar.Int32",
        "props": [
            { "p": "topic", "vt": "str", "v": "ns=1;s=Scalar.Int32" }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 180,
        "wires": [["ex01-client"]]
    },
    {
        "id": "ex01-inject-str",
        "type": "inject",
        "z": "ex01-tab",
        "name": "Read Scalar.String",
        "props": [
            { "p": "topic", "vt": "str", "v": "ns=1;s=Scalar.String" }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 240,
        "wires": [["ex01-client"]]
    },
    {
        "id": "ex01-client",
        "type": "opcua-client",
        "z": "ex01-tab",
        "name": "",
        "endpoint": "ex01-endpoint",
        "defaultOperation": "read",
        "x": 380,
        "y": 180,
        "wires": [["ex01-debug"]]
    },
    {
        "id": "ex01-debug",
        "type": "debug",
        "z": "ex01-tab",
        "name": "Value",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 570,
        "y": 180,
        "wires": []
    }
]
