examples/02 - Batch Read with Item Collector.json
[
    {
        "id": "ex02-endpoint",
        "type": "opcua-endpoint",
        "name": "Test Server",
        "endpointUrl": "opc.tcp://localhost:4841/UA/TestServer",
        "securityMode": "None",
        "securityPolicy": "None"
    },
    {
        "id": "ex02-tab",
        "type": "tab",
        "label": "02 - Batch Read (Item Collector)",
        "info": "Chain multiple Item nodes to build a batch read. Each Item node adds its variables to msg.items. The client reads them all in one OPC UA service call.\n\nThis example uses the included Docker test server. Start it with:\n\n    docker compose up -d\n\nNodeIds used: ns=1;s=Scalar.Double, ns=1;s=Scalar.Int32, ns=1;s=Scalar.String."
    },
    {
        "id": "ex02-comment1",
        "type": "comment",
        "z": "ex02-tab",
        "name": "Chain Pattern: each Item node adds to msg.items, client reads all at once",
        "x": 300,
        "y": 40,
        "wires": []
    },
    {
        "id": "ex02-inject",
        "type": "inject",
        "z": "ex02-tab",
        "name": "Trigger",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 120,
        "wires": [["ex02-item1"]]
    },
    {
        "id": "ex02-item1",
        "type": "opcua-item",
        "z": "ex02-tab",
        "name": "Double",
        "items": [{ "nodeId": "ns=1;s=Scalar.Double", "datatype": "Double", "itemName": "Double" }],
        "collector": true,
        "x": 280,
        "y": 120,
        "wires": [["ex02-item2"]]
    },
    {
        "id": "ex02-item2",
        "type": "opcua-item",
        "z": "ex02-tab",
        "name": "Int32",
        "items": [{ "nodeId": "ns=1;s=Scalar.Int32", "datatype": "Int32", "itemName": "Int32" }],
        "collector": true,
        "x": 450,
        "y": 120,
        "wires": [["ex02-client"]]
    },
    {
        "id": "ex02-client",
        "type": "opcua-client",
        "z": "ex02-tab",
        "name": "",
        "endpoint": "ex02-endpoint",
        "defaultOperation": "read",
        "x": 630,
        "y": 120,
        "wires": [["ex02-debug"]]
    },
    {
        "id": "ex02-debug",
        "type": "debug",
        "z": "ex02-tab",
        "name": "Results",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 810,
        "y": 120,
        "wires": []
    },
    {
        "id": "ex02-comment2",
        "type": "comment",
        "z": "ex02-tab",
        "name": "Alternative: all items in one node",
        "x": 210,
        "y": 220,
        "wires": []
    },
    {
        "id": "ex02-inject2",
        "type": "inject",
        "z": "ex02-tab",
        "name": "Trigger",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 280,
        "wires": [["ex02-items-all"]]
    },
    {
        "id": "ex02-items-all",
        "type": "opcua-item",
        "z": "ex02-tab",
        "name": "All Scalars",
        "items": [
            { "nodeId": "ns=1;s=Scalar.Double", "datatype": "Double", "itemName": "Double" },
            { "nodeId": "ns=1;s=Scalar.Int32", "datatype": "Int32", "itemName": "Int32" },
            { "nodeId": "ns=1;s=Scalar.String", "datatype": "String", "itemName": "String" }
        ],
        "collector": true,
        "x": 280,
        "y": 280,
        "wires": [["ex02-client2"]]
    },
    {
        "id": "ex02-client2",
        "type": "opcua-client",
        "z": "ex02-tab",
        "name": "",
        "endpoint": "ex02-endpoint",
        "defaultOperation": "read",
        "x": 460,
        "y": 280,
        "wires": [["ex02-debug2"]]
    },
    {
        "id": "ex02-debug2",
        "type": "debug",
        "z": "ex02-tab",
        "name": "Results",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 640,
        "y": 280,
        "wires": []
    }
]
