examples/03 - Write a Value.json
[
    {
        "id": "ex03-endpoint",
        "type": "opcua-endpoint",
        "name": "Test Server",
        "endpointUrl": "opc.tcp://localhost:4841/UA/TestServer",
        "securityMode": "None",
        "securityPolicy": "None"
    },
    {
        "id": "ex03-tab",
        "type": "tab",
        "label": "03 - Write a Value",
        "info": "Write a value to an OPC UA variable. The inject sets the value in msg.payload, the NodeId in msg.topic, and optionally msg.datatype.\n\nThis example uses the included Docker test server. Start it with:\n\n    docker compose up -d\n\nWritable NodeIds used: ns=1;s=Writable.Temperature, ns=1;s=Writable.Active, ns=1;s=Writable.MachineName."
    },
    {
        "id": "ex03-comment",
        "type": "comment",
        "z": "ex03-tab",
        "name": "Set msg.payload to the value, msg.topic to the NodeId, msg.datatype for the type",
        "x": 320,
        "y": 40,
        "wires": []
    },
    {
        "id": "ex03-inject",
        "type": "inject",
        "z": "ex03-tab",
        "name": "Write Temperature 25.5",
        "props": [
            { "p": "payload", "vt": "num", "v": "25.5" },
            { "p": "topic", "vt": "str", "v": "ns=1;s=Writable.Temperature" },
            { "p": "datatype", "vt": "str", "v": "Double" }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 120,
        "wires": [["ex03-client"]]
    },
    {
        "id": "ex03-inject2",
        "type": "inject",
        "z": "ex03-tab",
        "name": "Write Active = true",
        "props": [
            { "p": "payload", "vt": "bool", "v": "true" },
            { "p": "topic", "vt": "str", "v": "ns=1;s=Writable.Active" },
            { "p": "datatype", "vt": "str", "v": "Boolean" }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 180,
        "wires": [["ex03-client"]]
    },
    {
        "id": "ex03-inject3",
        "type": "inject",
        "z": "ex03-tab",
        "name": "Write MachineName \"Hello\"",
        "props": [
            { "p": "payload", "vt": "str", "v": "Hello" },
            { "p": "topic", "vt": "str", "v": "ns=1;s=Writable.MachineName" },
            { "p": "datatype", "vt": "str", "v": "String" }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 240,
        "wires": [["ex03-client"]]
    },
    {
        "id": "ex03-client",
        "type": "opcua-client",
        "z": "ex03-tab",
        "name": "",
        "endpoint": "ex03-endpoint",
        "defaultOperation": "write",
        "x": 440,
        "y": 180,
        "wires": [["ex03-debug"]]
    },
    {
        "id": "ex03-debug",
        "type": "debug",
        "z": "ex03-tab",
        "name": "Write Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "statusCode",
        "targetType": "msg",
        "statusVal": "statusCode",
        "statusType": "auto",
        "x": 650,
        "y": 180,
        "wires": []
    }
]
