examples/04 - Subscribe to Changes.json
[
    {
        "id": "ex04-endpoint",
        "type": "opcua-endpoint",
        "name": "Test Server",
        "endpointUrl": "opc.tcp://localhost:4841/UA/TestServer",
        "securityMode": "None",
        "securityPolicy": "None"
    },
    {
        "id": "ex04-tab",
        "type": "tab",
        "label": "04 - Subscribe to Changes",
        "info": "Subscribe to live value changes. Click inject once to start the subscription. Every time the value changes on the server, a new message arrives at the debug node.\n\nThis example uses the included Docker test server. Start it with:\n\n    docker compose up -d\n\nThe Dynamic.* NodeIds are continuously updated by the test server, so you immediately see live values."
    },
    {
        "id": "ex04-comment",
        "type": "comment",
        "z": "ex04-tab",
        "name": "Click \"Subscribe Sinus\" to start — messages arrive every time the value changes",
        "x": 320,
        "y": 40,
        "wires": []
    },
    {
        "id": "ex04-inject-sub",
        "type": "inject",
        "z": "ex04-tab",
        "name": "Subscribe Sinus",
        "props": [
            { "p": "topic", "vt": "str", "v": "ns=1;s=Dynamic.Sinus" }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 120,
        "wires": [["ex04-client"]]
    },
    {
        "id": "ex04-inject-sub2",
        "type": "inject",
        "z": "ex04-tab",
        "name": "Subscribe Ramp",
        "props": [
            { "p": "topic", "vt": "str", "v": "ns=1;s=Dynamic.Ramp" }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 180,
        "wires": [["ex04-client"]]
    },
    {
        "id": "ex04-inject-unsub",
        "type": "inject",
        "z": "ex04-tab",
        "name": "Unsubscribe Sinus",
        "props": [
            { "p": "topic", "vt": "str", "v": "ns=1;s=Dynamic.Sinus" },
            { "p": "operation", "vt": "str", "v": "unsubscribe" }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 240,
        "wires": [["ex04-client"]]
    },
    {
        "id": "ex04-client",
        "type": "opcua-client",
        "z": "ex04-tab",
        "name": "",
        "endpoint": "ex04-endpoint",
        "defaultOperation": "subscribe",
        "x": 400,
        "y": 180,
        "wires": [["ex04-debug"]]
    },
    {
        "id": "ex04-debug",
        "type": "debug",
        "z": "ex04-tab",
        "name": "Live Values",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 600,
        "y": 180,
        "wires": []
    }
]
