examples/05 - Browse Address Space.json
[
    {
        "id": "ex05-endpoint",
        "type": "opcua-endpoint",
        "name": "Test Server",
        "endpointUrl": "opc.tcp://localhost:4841/UA/TestServer",
        "securityMode": "None",
        "securityPolicy": "None"
    },
    {
        "id": "ex05-tab",
        "type": "tab",
        "label": "05 - Browse Address Space",
        "info": "Browse the OPC UA server's address space. Send a NodeId via msg.topic to browse from that node, or leave empty to browse from RootFolder.\n\nThis example uses the included Docker test server. Start it with:\n\n    docker compose up -d\n\nThe test server provides a TestData folder with subfolders Scalar, Arrays, Dynamic, Methods and Writable in namespace 1."
    },
    {
        "id": "ex05-comment",
        "type": "comment",
        "z": "ex05-tab",
        "name": "Browse from different starting points — leave msg.topic empty for RootFolder",
        "x": 320,
        "y": 40,
        "wires": []
    },
    {
        "id": "ex05-inject-root",
        "type": "inject",
        "z": "ex05-tab",
        "name": "Browse Root",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 120,
        "wires": [["ex05-browser"]]
    },
    {
        "id": "ex05-inject-objects",
        "type": "inject",
        "z": "ex05-tab",
        "name": "Browse Objects",
        "props": [
            { "p": "topic", "vt": "str", "v": "i=85" }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 180,
        "wires": [["ex05-browser"]]
    },
    {
        "id": "ex05-inject-testdata",
        "type": "inject",
        "z": "ex05-tab",
        "name": "Browse TestData",
        "props": [
            { "p": "topic", "vt": "str", "v": "ns=1;s=TestData" }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 240,
        "wires": [["ex05-browser"]]
    },
    {
        "id": "ex05-inject-scalar",
        "type": "inject",
        "z": "ex05-tab",
        "name": "Browse Scalar",
        "props": [
            { "p": "topic", "vt": "str", "v": "ns=1;s=Scalar" }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 300,
        "wires": [["ex05-browser"]]
    },
    {
        "id": "ex05-browser",
        "type": "opcua-browser",
        "z": "ex05-tab",
        "name": "",
        "endpoint": "ex05-endpoint",
        "x": 400,
        "y": 220,
        "wires": [["ex05-debug"]]
    },
    {
        "id": "ex05-debug",
        "type": "debug",
        "z": "ex05-tab",
        "name": "References",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "browseResult.count",
        "statusType": "auto",
        "x": 600,
        "y": 220,
        "wires": []
    }
]
