examples/06 - Event Subscription.json
[
    {
        "id": "ex06-endpoint",
        "type": "opcua-endpoint",
        "name": "Test Server",
        "endpointUrl": "opc.tcp://localhost:4841/UA/TestServer",
        "securityMode": "None",
        "securityPolicy": "None"
    },
    {
        "id": "ex06-tab",
        "type": "tab",
        "label": "06 - Event Subscription",
        "info": "Subscribe to OPC UA events. The Event node monitors a source node (default: Server node i=2253) for events of a given type.\n\nThis example uses the included Docker test server. Start it with:\n\n    docker compose up -d\n\nClick \"Start\" to begin listening, then click \"Trigger Event\" to make the test server raise an event."
    },
    {
        "id": "ex06-comment",
        "type": "comment",
        "z": "ex06-tab",
        "name": "Click \"Start\" to listen, then \"Trigger Event\" to raise one. Each event produces a message.",
        "x": 360,
        "y": 40,
        "wires": []
    },
    {
        "id": "ex06-inject-sub",
        "type": "inject",
        "z": "ex06-tab",
        "name": "Start",
        "props": [
            { "p": "action", "vt": "str", "v": "subscribe" }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 120,
        "wires": [["ex06-event"]]
    },
    {
        "id": "ex06-inject-unsub",
        "type": "inject",
        "z": "ex06-tab",
        "name": "Stop",
        "props": [
            { "p": "action", "vt": "str", "v": "unsubscribe" }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 180,
        "wires": [["ex06-event"]]
    },
    {
        "id": "ex06-event",
        "type": "opcua-event",
        "z": "ex06-tab",
        "name": "",
        "endpoint": "ex06-endpoint",
        "sourceNodeId": "i=2253",
        "eventType": "BaseEventType",
        "x": 330,
        "y": 140,
        "wires": [["ex06-debug"]]
    },
    {
        "id": "ex06-debug",
        "type": "debug",
        "z": "ex06-tab",
        "name": "Events",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload.severity",
        "statusType": "auto",
        "x": 530,
        "y": 140,
        "wires": []
    }
]
