examples/07 - Call a Method.json
[
    {
        "id": "ex07-endpoint",
        "type": "opcua-endpoint",
        "name": "Test Server",
        "endpointUrl": "opc.tcp://localhost:4841/UA/TestServer",
        "securityMode": "None",
        "securityPolicy": "None"
    },
    {
        "id": "ex07-tab",
        "type": "tab",
        "label": "07 - Call a Method",
        "info": "Call an OPC UA method. The Object and Method NodeIds are configured in the node. Input arguments are passed via msg.payload as an array of {dataType, value}.\n\nThis example uses the included Docker test server. Start it with:\n\n    docker compose up -d\n\nThe test server provides:\n  - ns=1;s=Methods.Add (A:Double, B:Double) → Result:Double\n  - ns=1;s=Methods.Multiply (A:Double, B:Double) → Result:Double\n\nResult is in msg.payload (array of output values)."
    },
    {
        "id": "ex07-comment",
        "type": "comment",
        "z": "ex07-tab",
        "name": "Add(2, 3) and Multiply(4, 5) on the included test server",
        "x": 290,
        "y": 40,
        "wires": []
    },
    {
        "id": "ex07-inject",
        "type": "inject",
        "z": "ex07-tab",
        "name": "Add(2, 3)",
        "props": [
            { "p": "payload", "vt": "json", "v": "[{\"dataType\":\"Double\",\"value\":2},{\"dataType\":\"Double\",\"value\":3}]" },
            { "p": "methodNodeId", "vt": "str", "v": "ns=1;s=Methods.Add" },
            { "p": "objectNodeId", "vt": "str", "v": "ns=1;s=Methods" }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 120,
        "wires": [["ex07-method"]]
    },
    {
        "id": "ex07-inject2",
        "type": "inject",
        "z": "ex07-tab",
        "name": "Multiply(4, 5)",
        "props": [
            { "p": "payload", "vt": "json", "v": "[{\"dataType\":\"Double\",\"value\":4},{\"dataType\":\"Double\",\"value\":5}]" },
            { "p": "methodNodeId", "vt": "str", "v": "ns=1;s=Methods.Multiply" },
            { "p": "objectNodeId", "vt": "str", "v": "ns=1;s=Methods" }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 180,
        "wires": [["ex07-method"]]
    },
    {
        "id": "ex07-method",
        "type": "opcua-method",
        "z": "ex07-tab",
        "name": "",
        "endpoint": "ex07-endpoint",
        "objectNodeId": "ns=1;s=Methods",
        "methodNodeId": "ns=1;s=Methods.Add",
        "x": 390,
        "y": 150,
        "wires": [["ex07-debug"]]
    },
    {
        "id": "ex07-debug",
        "type": "debug",
        "z": "ex07-tab",
        "name": "Method Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 600,
        "y": 150,
        "wires": []
    }
]
