examples/13 - PubSub Full Validation.json
[
    {
        "id": "v13-readme",
        "type": "tab",
        "label": "README — How to run",
        "info": ""
    },
    {
        "id": "v13-readme-cmt",
        "type": "comment",
        "z": "v13-readme",
        "name": "PubSub Full Validation (T1-T9) — deploy, click each tab inject, watch debug for [VALIDATE] PASS",
        "x": 560,
        "y": 40,
        "wires": []
    },
    {
        "id": "v13-readme-cmt2",
        "type": "comment",
        "z": "v13-readme",
        "name": "Each tab: inject -> publisher -> transport -> subscriber -> assert(function, node.warn [VALIDATE]) -> debug(console). Negative tabs (T8/T9) use a delayed inject that PASSes if nothing arrived.",
        "x": 760,
        "y": 90,
        "wires": []
    },
    {
        "id": "v13-t1",
        "type": "tab",
        "label": "T1 UDP-UADP scalars",
        "info": ""
    },
    {
        "id": "v13-t1-cmt",
        "type": "comment",
        "z": "v13-t1",
        "name": "T1 — UDP-UADP round-trip of all scalar types (Double/String/Int32/Boolean/Float/UInt16); assert values + encoding/transport/headers",
        "x": 480,
        "y": 40,
        "wires": []
    },
    {
        "id": "t1-conn",
        "type": "opcua-pubsub-connection",
        "name": "T1 UDP",
        "transportType": "udp",
        "multicastGroup": "239.0.13.1",
        "multicastInterface": "0.0.0.0",
        "port": 4851,
        "mtu": 1400,
        "brokerUrl": "mqtt://val-mosquitto:1883",
        "topicPrefix": "ua",
        "qos": 1,
        "publisherIdType": "String",
        "publisherId": "13000000-0000-4000-8000-000000000001",
        "certificateFile": "",
        "privateKeyFile": "",
        "caCertificateFile": ""
    },
    {
        "id": "t1-inject",
        "type": "inject",
        "z": "v13-t1",
        "name": "Publish",
        "props": [
            {
                "p": "payload",
                "vt": "json",
                "v": "{\"D\":3.14159,\"S\":\"hello-t1\",\"I\":-12345,\"B\":true,\"F\":1.5,\"U\":60000}"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 140,
        "wires": [
            [
                "t1-pub"
            ]
        ]
    },
    {
        "id": "t1-pub",
        "type": "opcua-publisher",
        "z": "v13-t1",
        "name": "Pub (UADP)",
        "connection": "t1-conn",
        "messageEncoding": "uadp",
        "publishMode": "acyclic",
        "publishingInterval": 1000,
        "keepAliveTime": "",
        "writerGroupId": 1,
        "priority": 128,
        "maxNetworkMessageSize": 1400,
        "writers": "[{\"dataSetWriterId\":1,\"dataSetName\":\"T1\",\"publishedDataSet\":{\"name\":\"T1\",\"fields\":[{\"name\":\"D\",\"dataType\":\"Double\"},{\"name\":\"S\",\"dataType\":\"String\"},{\"name\":\"I\",\"dataType\":\"Int32\"},{\"name\":\"B\",\"dataType\":\"Boolean\"},{\"name\":\"F\",\"dataType\":\"Float\"},{\"name\":\"U\",\"dataType\":\"UInt16\"}]}}]",
        "x": 420,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "t1-sub",
        "type": "opcua-subscriber",
        "z": "v13-t1",
        "name": "Sub (UADP)",
        "connection": "t1-conn",
        "messageEncoding": "uadp",
        "publisherId": "13000000-0000-4000-8000-000000000001",
        "writerGroupId": 1,
        "dataSetWriterId": 1,
        "expectedConfigVersion": "",
        "x": 430,
        "y": 240,
        "wires": [
            [
                "t1-assert"
            ]
        ]
    },
    {
        "id": "t1-assert",
        "type": "function",
        "z": "v13-t1",
        "name": "assert",
        "func": "const p = msg.payload || {};\nconst errs = [];\nif (Math.abs(p.D - 3.14159) > 1e-9) errs.push(\"D=\" + p.D);\nif (p.S !== \"hello-t1\") errs.push(\"S=\" + p.S);\nif (p.I !== -12345) errs.push(\"I=\" + p.I);\nif (p.B !== true) errs.push(\"B=\" + p.B);\nif (Math.abs(p.F - 1.5) > 1e-3) errs.push(\"F=\" + p.F);\nif (p.U !== 60000) errs.push(\"U=\" + p.U);\nif (msg.encoding !== \"uadp\") errs.push(\"encoding=\" + msg.encoding);\nif (msg.transport !== \"udp\") errs.push(\"transport=\" + msg.transport);\nif (msg.publisherId === undefined) errs.push(\"no publisherId\");\nif (msg.writerGroupId !== 1) errs.push(\"wgId=\" + msg.writerGroupId);\nif (msg.dataSetWriterId !== 1) errs.push(\"dswId=\" + msg.dataSetWriterId);\nif (msg.sequenceNumber === undefined) errs.push(\"no seq\");\nnode.warn(errs.length ? \"[VALIDATE] T1 udp-uadp-scalars: FAIL - \" + errs.join(\", \")\n                      : \"[VALIDATE] T1 udp-uadp-scalars: PASS\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 240,
        "wires": [
            [
                "t1-dbg"
            ]
        ]
    },
    {
        "id": "t1-dbg",
        "type": "debug",
        "z": "v13-t1",
        "name": "T1 result",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 240,
        "wires": []
    },
    {
        "id": "v13-t2",
        "type": "tab",
        "label": "T2 MQTT-UADP",
        "info": ""
    },
    {
        "id": "v13-t2-cmt",
        "type": "comment",
        "z": "v13-t2",
        "name": "T2 — MQTT-UADP round-trip; assert fields + encoding=uadp, transport=mqtt, topic present",
        "x": 480,
        "y": 40,
        "wires": []
    },
    {
        "id": "t2-conn",
        "type": "opcua-pubsub-connection",
        "name": "T2 MQTT",
        "transportType": "mqtt",
        "multicastGroup": "239.0.0.1",
        "multicastInterface": "0.0.0.0",
        "port": 4840,
        "mtu": 1400,
        "brokerUrl": "mqtt://val-mosquitto:1883",
        "topicPrefix": "val13t2",
        "qos": 1,
        "publisherIdType": "String",
        "publisherId": "13000000-0000-4000-8000-000000000002",
        "certificateFile": "",
        "privateKeyFile": "",
        "caCertificateFile": ""
    },
    {
        "id": "t2-inject",
        "type": "inject",
        "z": "v13-t2",
        "name": "Publish",
        "props": [
            {
                "p": "payload",
                "vt": "json",
                "v": "{\"Temp\":42.25,\"Tag\":\"mqtt-uadp-t2\"}"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 140,
        "wires": [
            [
                "t2-pub"
            ]
        ]
    },
    {
        "id": "t2-pub",
        "type": "opcua-publisher",
        "z": "v13-t2",
        "name": "Pub (UADP)",
        "connection": "t2-conn",
        "messageEncoding": "uadp",
        "publishMode": "acyclic",
        "publishingInterval": 1000,
        "keepAliveTime": "",
        "writerGroupId": 2,
        "priority": 128,
        "maxNetworkMessageSize": 1400,
        "writers": "[{\"dataSetWriterId\":1,\"dataSetName\":\"T2\",\"publishedDataSet\":{\"name\":\"T2\",\"fields\":[{\"name\":\"Temp\",\"dataType\":\"Double\"},{\"name\":\"Tag\",\"dataType\":\"String\"}]}}]",
        "x": 420,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "t2-sub",
        "type": "opcua-subscriber",
        "z": "v13-t2",
        "name": "Sub (UADP)",
        "connection": "t2-conn",
        "messageEncoding": "uadp",
        "publisherId": "13000000-0000-4000-8000-000000000002",
        "writerGroupId": 2,
        "dataSetWriterId": 1,
        "expectedConfigVersion": "",
        "x": 430,
        "y": 240,
        "wires": [
            [
                "t2-assert"
            ]
        ]
    },
    {
        "id": "t2-assert",
        "type": "function",
        "z": "v13-t2",
        "name": "assert",
        "func": "const p = msg.payload || {};\nconst errs = [];\nif (Math.abs(p.Temp - 42.25) > 1e-9) errs.push(\"Temp=\" + p.Temp);\nif (p.Tag !== \"mqtt-uadp-t2\") errs.push(\"Tag=\" + p.Tag);\nif (msg.encoding !== \"uadp\") errs.push(\"encoding=\" + msg.encoding);\nif (msg.transport !== \"mqtt\") errs.push(\"transport=\" + msg.transport);\nif (!msg.topic) errs.push(\"no topic\");\nnode.warn(errs.length ? \"[VALIDATE] T2 mqtt-uadp: FAIL - \" + errs.join(\", \")\n                      : \"[VALIDATE] T2 mqtt-uadp: PASS\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 240,
        "wires": [
            [
                "t2-dbg"
            ]
        ]
    },
    {
        "id": "t2-dbg",
        "type": "debug",
        "z": "v13-t2",
        "name": "T2 result",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 240,
        "wires": []
    },
    {
        "id": "v13-t3",
        "type": "tab",
        "label": "T3 MQTT-JSON",
        "info": ""
    },
    {
        "id": "v13-t3-cmt",
        "type": "comment",
        "z": "v13-t3",
        "name": "T3 — MQTT-JSON; assert encoding=json, transport=mqtt, writerGroupId DEFINED (CR-02), timestamp=publish time (HI-01), numeric publisherId stays number (HI-02)",
        "x": 480,
        "y": 40,
        "wires": []
    },
    {
        "id": "t3-conn",
        "type": "opcua-pubsub-connection",
        "name": "T3 MQTT",
        "transportType": "mqtt",
        "multicastGroup": "239.0.0.1",
        "multicastInterface": "0.0.0.0",
        "port": 4840,
        "mtu": 1400,
        "brokerUrl": "mqtt://val-mosquitto:1883",
        "topicPrefix": "val13t3",
        "qos": 1,
        "publisherIdType": "UInt32",
        "publisherId": 305419896,
        "certificateFile": "",
        "privateKeyFile": "",
        "caCertificateFile": ""
    },
    {
        "id": "t3-inject",
        "type": "inject",
        "z": "v13-t3",
        "name": "Publish",
        "props": [
            {
                "p": "payload",
                "vt": "json",
                "v": "{\"V\":99.5,\"Name\":\"json-t3\"}"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 140,
        "wires": [
            [
                "t3-pub"
            ]
        ]
    },
    {
        "id": "t3-pub",
        "type": "opcua-publisher",
        "z": "v13-t3",
        "name": "Pub (JSON)",
        "connection": "t3-conn",
        "messageEncoding": "json",
        "publishMode": "acyclic",
        "publishingInterval": 1000,
        "keepAliveTime": "",
        "writerGroupId": 33,
        "priority": 128,
        "maxNetworkMessageSize": 1400,
        "writers": "[{\"dataSetWriterId\":1,\"dataSetName\":\"T3\",\"publishedDataSet\":{\"name\":\"T3\",\"fields\":[{\"name\":\"V\",\"dataType\":\"Double\"},{\"name\":\"Name\",\"dataType\":\"String\"}]}}]",
        "x": 420,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "t3-sub",
        "type": "opcua-subscriber",
        "z": "v13-t3",
        "name": "Sub (JSON)",
        "connection": "t3-conn",
        "messageEncoding": "json",
        "publisherId": 305419896,
        "writerGroupId": 33,
        "dataSetWriterId": 1,
        "expectedConfigVersion": "",
        "x": 430,
        "y": 240,
        "wires": [
            [
                "t3-assert"
            ]
        ]
    },
    {
        "id": "t3-assert",
        "type": "function",
        "z": "v13-t3",
        "name": "assert",
        "func": "const p = msg.payload || {};\nconst errs = [];\nif (Math.abs(p.V - 99.5) > 1e-9) errs.push(\"V=\" + p.V);\nif (p.Name !== \"json-t3\") errs.push(\"Name=\" + p.Name);\nif (msg.encoding !== \"json\") errs.push(\"encoding=\" + msg.encoding);\nif (msg.transport !== \"mqtt\") errs.push(\"transport=\" + msg.transport);\nif (msg.writerGroupId !== 33) errs.push(\"wgId(CR-02)=\" + msg.writerGroupId);\nif (typeof msg.publisherId !== \"number\") errs.push(\"pidType(HI-02)=\" + typeof msg.publisherId);\nif (msg.publisherId !== 305419896) errs.push(\"pid=\" + msg.publisherId);\nconst t = new Date(msg.timestamp).getTime();\nif (isNaN(t)) errs.push(\"ts not a date\");\nelse if (Math.abs(Date.now() - t) > 30000) errs.push(\"ts(HI-01) too far from now: \" + msg.timestamp);\nnode.warn(errs.length ? \"[VALIDATE] T3 mqtt-json: FAIL - \" + errs.join(\", \")\n                      : \"[VALIDATE] T3 mqtt-json: PASS\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 240,
        "wires": [
            [
                "t3-dbg"
            ]
        ]
    },
    {
        "id": "t3-dbg",
        "type": "debug",
        "z": "v13-t3",
        "name": "T3 result",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 240,
        "wires": []
    },
    {
        "id": "v13-t4",
        "type": "tab",
        "label": "T4 Multi-Writer",
        "info": ""
    },
    {
        "id": "v13-t4-cmt",
        "type": "comment",
        "z": "v13-t4",
        "name": "T4 — one publisher with TWO DataSetWriters (id 1 & 2); two subscribers each filter their own dataSetWriterId and must see only their dataset fields",
        "x": 480,
        "y": 40,
        "wires": []
    },
    {
        "id": "t4-conn",
        "type": "opcua-pubsub-connection",
        "name": "T4 UDP",
        "transportType": "udp",
        "multicastGroup": "239.0.13.2",
        "multicastInterface": "0.0.0.0",
        "port": 4852,
        "mtu": 1400,
        "brokerUrl": "mqtt://val-mosquitto:1883",
        "topicPrefix": "ua",
        "qos": 1,
        "publisherIdType": "String",
        "publisherId": "13000000-0000-4000-8000-000000000004",
        "certificateFile": "",
        "privateKeyFile": "",
        "caCertificateFile": ""
    },
    {
        "id": "t4-inject",
        "type": "inject",
        "z": "v13-t4",
        "name": "Publish",
        "props": [
            {
                "p": "payload",
                "vt": "json",
                "v": "{\"A\":111,\"B\":\"writer-two\"}"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 140,
        "wires": [
            [
                "t4-pub"
            ]
        ]
    },
    {
        "id": "t4-pub",
        "type": "opcua-publisher",
        "z": "v13-t4",
        "name": "Pub 2 writers",
        "connection": "t4-conn",
        "messageEncoding": "uadp",
        "publishMode": "acyclic",
        "publishingInterval": 1000,
        "keepAliveTime": "",
        "writerGroupId": 4,
        "priority": 128,
        "maxNetworkMessageSize": 1400,
        "writers": "[{\"dataSetWriterId\":1,\"dataSetName\":\"DS1\",\"publishedDataSet\":{\"name\":\"DS1\",\"fields\":[{\"name\":\"A\",\"dataType\":\"Int32\"}]}},{\"dataSetWriterId\":2,\"dataSetName\":\"DS2\",\"publishedDataSet\":{\"name\":\"DS2\",\"fields\":[{\"name\":\"B\",\"dataType\":\"String\"}]}}]",
        "x": 420,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "t4-subA",
        "type": "opcua-subscriber",
        "z": "v13-t4",
        "name": "Sub dsw1",
        "connection": "t4-conn",
        "messageEncoding": "uadp",
        "publisherId": "13000000-0000-4000-8000-000000000004",
        "writerGroupId": 4,
        "dataSetWriterId": 1,
        "expectedConfigVersion": "",
        "x": 430,
        "y": 220,
        "wires": [
            [
                "t4-assertA"
            ]
        ]
    },
    {
        "id": "t4-subB",
        "type": "opcua-subscriber",
        "z": "v13-t4",
        "name": "Sub dsw2",
        "connection": "t4-conn",
        "messageEncoding": "uadp",
        "publisherId": "13000000-0000-4000-8000-000000000004",
        "writerGroupId": 4,
        "dataSetWriterId": 2,
        "expectedConfigVersion": "",
        "x": 430,
        "y": 300,
        "wires": [
            [
                "t4-assertB"
            ]
        ]
    },
    {
        "id": "t4-assertA",
        "type": "function",
        "z": "v13-t4",
        "name": "assertA",
        "func": "const p = msg.payload || {};\nconst errs = [];\nif (msg.dataSetWriterId !== 1) errs.push(\"dswId=\" + msg.dataSetWriterId);\nif (p.A !== 111) errs.push(\"A=\" + p.A);\nif (\"B\" in p) errs.push(\"leaked B\");\nnode.warn(errs.length ? \"[VALIDATE] T4a multi-writer-dsw1: FAIL - \" + errs.join(\", \")\n                      : \"[VALIDATE] T4a multi-writer-dsw1: PASS\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 220,
        "wires": [
            [
                "t4-dbg"
            ]
        ]
    },
    {
        "id": "t4-assertB",
        "type": "function",
        "z": "v13-t4",
        "name": "assertB",
        "func": "const p = msg.payload || {};\nconst errs = [];\nif (msg.dataSetWriterId !== 2) errs.push(\"dswId=\" + msg.dataSetWriterId);\nif (p.B !== \"writer-two\") errs.push(\"B=\" + p.B);\nif (\"A\" in p) errs.push(\"leaked A\");\nnode.warn(errs.length ? \"[VALIDATE] T4b multi-writer-dsw2: FAIL - \" + errs.join(\", \")\n                      : \"[VALIDATE] T4b multi-writer-dsw2: PASS\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 300,
        "wires": [
            [
                "t4-dbg"
            ]
        ]
    },
    {
        "id": "t4-dbg",
        "type": "debug",
        "z": "v13-t4",
        "name": "T4 result",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 260,
        "wires": []
    },
    {
        "id": "v13-t5",
        "type": "tab",
        "label": "T5 Cyclic+KeepAlive",
        "info": ""
    },
    {
        "id": "v13-t5-cmt",
        "type": "comment",
        "z": "v13-t5",
        "name": "T5 — cyclic publish (600ms). First inject -> keyframe (non-empty payload). With no new input a later KeepAlive arrives (empty payload). Assert both.",
        "x": 480,
        "y": 40,
        "wires": []
    },
    {
        "id": "t5-conn",
        "type": "opcua-pubsub-connection",
        "name": "T5 UDP",
        "transportType": "udp",
        "multicastGroup": "239.0.13.3",
        "multicastInterface": "0.0.0.0",
        "port": 4853,
        "mtu": 1400,
        "brokerUrl": "mqtt://val-mosquitto:1883",
        "topicPrefix": "ua",
        "qos": 1,
        "publisherIdType": "String",
        "publisherId": "13000000-0000-4000-8000-000000000005",
        "certificateFile": "",
        "privateKeyFile": "",
        "caCertificateFile": ""
    },
    {
        "id": "t5-reset",
        "type": "inject",
        "z": "v13-t5",
        "name": "1. reset+publish",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 120,
        "wires": [
            [
                "t5-resetfn"
            ]
        ]
    },
    {
        "id": "t5-resetfn",
        "type": "function",
        "z": "v13-t5",
        "name": "reset+setVal",
        "func": "flow.set(\"t5_key\", false);\nflow.set(\"t5_keep\", false);\nconst v = (Date.now() & 0x7fffffff);\nflow.set(\"t5_expect\", v);\nmsg.payload = { Val: v };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 120,
        "wires": [
            [
                "t5-pub"
            ]
        ]
    },
    {
        "id": "t5-pub",
        "type": "opcua-publisher",
        "z": "v13-t5",
        "name": "Pub cyclic",
        "connection": "t5-conn",
        "messageEncoding": "uadp",
        "publishMode": "cyclic",
        "publishingInterval": 600,
        "keepAliveTime": "",
        "writerGroupId": 5,
        "priority": 128,
        "maxNetworkMessageSize": 1400,
        "writers": "[{\"dataSetWriterId\":1,\"dataSetName\":\"T5\",\"publishedDataSet\":{\"name\":\"T5\",\"fields\":[{\"name\":\"Val\",\"dataType\":\"Int32\"}]}}]",
        "x": 420,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "t5-sub",
        "type": "opcua-subscriber",
        "z": "v13-t5",
        "name": "Sub",
        "connection": "t5-conn",
        "messageEncoding": "uadp",
        "publisherId": "13000000-0000-4000-8000-000000000005",
        "writerGroupId": 5,
        "dataSetWriterId": 1,
        "expectedConfigVersion": "",
        "x": 430,
        "y": 220,
        "wires": [
            [
                "t5-classify"
            ]
        ]
    },
    {
        "id": "t5-classify",
        "type": "function",
        "z": "v13-t5",
        "name": "classify",
        "func": "const p = msg.payload || {};\nconst empty = Object.keys(p).length === 0;\nif (empty) flow.set(\"t5_keep\", true);\nelse if (p.Val === flow.get(\"t5_expect\")) flow.set(\"t5_key\", true);\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "t5-check",
        "type": "inject",
        "z": "v13-t5",
        "name": "2. check (after ~2s)",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 320,
        "wires": [
            [
                "t5-assert"
            ]
        ]
    },
    {
        "id": "t5-assert",
        "type": "function",
        "z": "v13-t5",
        "name": "assert",
        "func": "const key = flow.get(\"t5_key\");\nconst keep = flow.get(\"t5_keep\");\nconst errs = [];\nif (!key) errs.push(\"no keyframe\");\nif (!keep) errs.push(\"no keepalive\");\nnode.warn(errs.length ? \"[VALIDATE] T5 cyclic-keepalive: FAIL - \" + errs.join(\", \")\n                      : \"[VALIDATE] T5 cyclic-keepalive: PASS\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 320,
        "wires": [
            [
                "t5-dbg"
            ]
        ]
    },
    {
        "id": "t5-dbg",
        "type": "debug",
        "z": "v13-t5",
        "name": "T5 result",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 320,
        "wires": []
    },
    {
        "id": "v13-t6",
        "type": "tab",
        "label": "T6 Chunking",
        "info": ""
    },
    {
        "id": "v13-t6-cmt",
        "type": "comment",
        "z": "v13-t6",
        "name": "T6 — small MTU (200) + ~2000-char string over UDP-UADP forces multi-chunk; subscriber must reassemble the FULL string intact",
        "x": 480,
        "y": 40,
        "wires": []
    },
    {
        "id": "t6-conn",
        "type": "opcua-pubsub-connection",
        "name": "T6 UDP small-mtu",
        "transportType": "udp",
        "multicastGroup": "239.0.13.4",
        "multicastInterface": "0.0.0.0",
        "port": 4854,
        "mtu": 200,
        "brokerUrl": "mqtt://val-mosquitto:1883",
        "topicPrefix": "ua",
        "qos": 1,
        "publisherIdType": "String",
        "publisherId": "13000000-0000-4000-8000-000000000006",
        "certificateFile": "",
        "privateKeyFile": "",
        "caCertificateFile": ""
    },
    {
        "id": "t6-inject",
        "type": "inject",
        "z": "v13-t6",
        "name": "Publish big",
        "props": [
            {
                "p": "payload",
                "vt": "json",
                "v": "{\"Big\":\"XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX\",\"Marker\":\"end-2000\"}"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 140,
        "wires": [
            [
                "t6-pub"
            ]
        ]
    },
    {
        "id": "t6-pub",
        "type": "opcua-publisher",
        "z": "v13-t6",
        "name": "Pub (chunked)",
        "connection": "t6-conn",
        "messageEncoding": "uadp",
        "publishMode": "acyclic",
        "publishingInterval": 1000,
        "keepAliveTime": "",
        "writerGroupId": 6,
        "priority": 128,
        "maxNetworkMessageSize": 200,
        "writers": "[{\"dataSetWriterId\":1,\"dataSetName\":\"T6\",\"publishedDataSet\":{\"name\":\"T6\",\"fields\":[{\"name\":\"Big\",\"dataType\":\"String\"},{\"name\":\"Marker\",\"dataType\":\"String\"}]}}]",
        "x": 420,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "t6-sub",
        "type": "opcua-subscriber",
        "z": "v13-t6",
        "name": "Sub",
        "connection": "t6-conn",
        "messageEncoding": "uadp",
        "publisherId": "13000000-0000-4000-8000-000000000006",
        "writerGroupId": 6,
        "dataSetWriterId": 1,
        "expectedConfigVersion": "",
        "x": 430,
        "y": 240,
        "wires": [
            [
                "t6-assert"
            ]
        ]
    },
    {
        "id": "t6-assert",
        "type": "function",
        "z": "v13-t6",
        "name": "assert",
        "func": "const p = msg.payload || {};\nconst errs = [];\nconst big = p.Big || \"\";\nif (big.length !== 2000) errs.push(\"len=\" + big.length);\nif (big !== \"X\".repeat(2000)) errs.push(\"content mismatch\");\nif (p.Marker !== \"end-2000\") errs.push(\"Marker=\" + p.Marker);\nnode.warn(errs.length ? \"[VALIDATE] T6 chunking: FAIL - \" + errs.join(\", \")\n                      : \"[VALIDATE] T6 chunking: PASS\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 240,
        "wires": [
            [
                "t6-dbg"
            ]
        ]
    },
    {
        "id": "t6-dbg",
        "type": "debug",
        "z": "v13-t6",
        "name": "T6 result",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 240,
        "wires": []
    },
    {
        "id": "v13-t7",
        "type": "tab",
        "label": "T7 PublisherId UInt32",
        "info": ""
    },
    {
        "id": "v13-t7-cmt",
        "type": "comment",
        "z": "v13-t7",
        "name": "T7 — publisherIdType UInt32, numeric id 305419896 over UDP-UADP; assert msg.publisherId === 305419896 (number)",
        "x": 480,
        "y": 40,
        "wires": []
    },
    {
        "id": "t7-conn",
        "type": "opcua-pubsub-connection",
        "name": "T7 UDP UInt32",
        "transportType": "udp",
        "multicastGroup": "239.0.13.5",
        "multicastInterface": "0.0.0.0",
        "port": 4855,
        "mtu": 1400,
        "brokerUrl": "mqtt://val-mosquitto:1883",
        "topicPrefix": "ua",
        "qos": 1,
        "publisherIdType": "UInt32",
        "publisherId": 305419896,
        "certificateFile": "",
        "privateKeyFile": "",
        "caCertificateFile": ""
    },
    {
        "id": "t7-inject",
        "type": "inject",
        "z": "v13-t7",
        "name": "Publish",
        "props": [
            {
                "p": "payload",
                "vt": "json",
                "v": "{\"N\":1}"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 140,
        "wires": [
            [
                "t7-pub"
            ]
        ]
    },
    {
        "id": "t7-pub",
        "type": "opcua-publisher",
        "z": "v13-t7",
        "name": "Pub (UADP)",
        "connection": "t7-conn",
        "messageEncoding": "uadp",
        "publishMode": "acyclic",
        "publishingInterval": 1000,
        "keepAliveTime": "",
        "writerGroupId": 7,
        "priority": 128,
        "maxNetworkMessageSize": 1400,
        "writers": "[{\"dataSetWriterId\":1,\"dataSetName\":\"T7\",\"publishedDataSet\":{\"name\":\"T7\",\"fields\":[{\"name\":\"N\",\"dataType\":\"Int32\"}]}}]",
        "x": 420,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "t7-sub",
        "type": "opcua-subscriber",
        "z": "v13-t7",
        "name": "Sub",
        "connection": "t7-conn",
        "messageEncoding": "uadp",
        "publisherId": 305419896,
        "writerGroupId": 7,
        "dataSetWriterId": 1,
        "expectedConfigVersion": "",
        "x": 430,
        "y": 240,
        "wires": [
            [
                "t7-assert"
            ]
        ]
    },
    {
        "id": "t7-assert",
        "type": "function",
        "z": "v13-t7",
        "name": "assert",
        "func": "const errs = [];\nif (typeof msg.publisherId !== \"number\") errs.push(\"type=\" + typeof msg.publisherId);\nif (msg.publisherId !== 305419896) errs.push(\"pid=\" + msg.publisherId);\nnode.warn(errs.length ? \"[VALIDATE] T7 publisherid-uint32: FAIL - \" + errs.join(\", \")\n                      : \"[VALIDATE] T7 publisherid-uint32: PASS\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 240,
        "wires": [
            [
                "t7-dbg"
            ]
        ]
    },
    {
        "id": "t7-dbg",
        "type": "debug",
        "z": "v13-t7",
        "name": "T7 result",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 240,
        "wires": []
    },
    {
        "id": "v13-t8",
        "type": "tab",
        "label": "T8 Filtering",
        "info": ""
    },
    {
        "id": "v13-t8-cmt",
        "type": "comment",
        "z": "v13-t8",
        "name": "T8 — publisher writerGroupId 7; subA filters wg7 (must receive), subB filters wg999 (must receive NOTHING). subB-path sets flag; delayed check PASSes if no msg.",
        "x": 480,
        "y": 40,
        "wires": []
    },
    {
        "id": "t8-conn",
        "type": "opcua-pubsub-connection",
        "name": "T8 UDP",
        "transportType": "udp",
        "multicastGroup": "239.0.13.6",
        "multicastInterface": "0.0.0.0",
        "port": 4856,
        "mtu": 1400,
        "brokerUrl": "mqtt://val-mosquitto:1883",
        "topicPrefix": "ua",
        "qos": 1,
        "publisherIdType": "String",
        "publisherId": "13000000-0000-4000-8000-000000000008",
        "certificateFile": "",
        "privateKeyFile": "",
        "caCertificateFile": ""
    },
    {
        "id": "t8-inject",
        "type": "inject",
        "z": "v13-t8",
        "name": "1. reset+publish",
        "props": [
            {
                "p": "payload",
                "vt": "json",
                "v": "{\"X\":5}"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 120,
        "wires": [
            [
                "t8-resetfn",
                "t8-pub"
            ]
        ]
    },
    {
        "id": "t8-resetfn",
        "type": "function",
        "z": "v13-t8",
        "name": "reset flags",
        "func": "flow.set(\"t8_a\", false);\nflow.set(\"t8_b\", false);\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "t8-pub",
        "type": "opcua-publisher",
        "z": "v13-t8",
        "name": "Pub wg7",
        "connection": "t8-conn",
        "messageEncoding": "uadp",
        "publishMode": "acyclic",
        "publishingInterval": 1000,
        "keepAliveTime": "",
        "writerGroupId": 7,
        "priority": 128,
        "maxNetworkMessageSize": 1400,
        "writers": "[{\"dataSetWriterId\":1,\"dataSetName\":\"T8\",\"publishedDataSet\":{\"name\":\"T8\",\"fields\":[{\"name\":\"X\",\"dataType\":\"Int32\"}]}}]",
        "x": 420,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "t8-subA",
        "type": "opcua-subscriber",
        "z": "v13-t8",
        "name": "Sub wg7 (match)",
        "connection": "t8-conn",
        "messageEncoding": "uadp",
        "publisherId": "13000000-0000-4000-8000-000000000008",
        "writerGroupId": 7,
        "dataSetWriterId": "",
        "expectedConfigVersion": "",
        "x": 430,
        "y": 200,
        "wires": [
            [
                "t8-markA"
            ]
        ]
    },
    {
        "id": "t8-subB",
        "type": "opcua-subscriber",
        "z": "v13-t8",
        "name": "Sub wg999 (no-match)",
        "connection": "t8-conn",
        "messageEncoding": "uadp",
        "publisherId": "13000000-0000-4000-8000-000000000008",
        "writerGroupId": 999,
        "dataSetWriterId": "",
        "expectedConfigVersion": "",
        "x": 430,
        "y": 280,
        "wires": [
            [
                "t8-markB"
            ]
        ]
    },
    {
        "id": "t8-markA",
        "type": "function",
        "z": "v13-t8",
        "name": "markA",
        "func": "flow.set(\"t8_a\", true); return null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "t8-markB",
        "type": "function",
        "z": "v13-t8",
        "name": "markB",
        "func": "flow.set(\"t8_b\", true); return null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "t8-check",
        "type": "inject",
        "z": "v13-t8",
        "name": "2. check (after ~2s)",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 360,
        "wires": [
            [
                "t8-assert"
            ]
        ]
    },
    {
        "id": "t8-assert",
        "type": "function",
        "z": "v13-t8",
        "name": "assert",
        "func": "const a = flow.get(\"t8_a\");\nconst b = flow.get(\"t8_b\");\nconst errs = [];\nif (!a) errs.push(\"subA(match) received nothing\");\nif (b) errs.push(\"subB(non-match) unexpectedly received\");\nnode.warn(errs.length ? \"[VALIDATE] T8 filtering: FAIL - \" + errs.join(\", \")\n                      : \"[VALIDATE] T8 filtering: PASS\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 360,
        "wires": [
            [
                "t8-dbg"
            ]
        ]
    },
    {
        "id": "t8-dbg",
        "type": "debug",
        "z": "v13-t8",
        "name": "T8 result",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 360,
        "wires": []
    },
    {
        "id": "v13-t9",
        "type": "tab",
        "label": "T9 ConfigVersion mismatch",
        "info": ""
    },
    {
        "id": "v13-t9-cmt",
        "type": "comment",
        "z": "v13-t9",
        "name": "T9 — publisher PDS configurationVersion {1,0}; subscriber expectedConfigVersion 2.0. Subscriber must NOT emit a normal msg (logs node.error). Delayed check PASSes if nothing arrived.",
        "x": 480,
        "y": 40,
        "wires": []
    },
    {
        "id": "t9-conn",
        "type": "opcua-pubsub-connection",
        "name": "T9 UDP",
        "transportType": "udp",
        "multicastGroup": "239.0.13.7",
        "multicastInterface": "0.0.0.0",
        "port": 4857,
        "mtu": 1400,
        "brokerUrl": "mqtt://val-mosquitto:1883",
        "topicPrefix": "ua",
        "qos": 1,
        "publisherIdType": "String",
        "publisherId": "13000000-0000-4000-8000-000000000009",
        "certificateFile": "",
        "privateKeyFile": "",
        "caCertificateFile": ""
    },
    {
        "id": "t9-inject",
        "type": "inject",
        "z": "v13-t9",
        "name": "1. reset+publish",
        "props": [
            {
                "p": "payload",
                "vt": "json",
                "v": "{\"V\":1}"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 120,
        "wires": [
            [
                "t9-resetfn",
                "t9-pub"
            ]
        ]
    },
    {
        "id": "t9-resetfn",
        "type": "function",
        "z": "v13-t9",
        "name": "reset flag",
        "func": "flow.set(\"t9_recv\", false); return null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "t9-pub",
        "type": "opcua-publisher",
        "z": "v13-t9",
        "name": "Pub cv1.0",
        "connection": "t9-conn",
        "messageEncoding": "uadp",
        "publishMode": "acyclic",
        "publishingInterval": 1000,
        "keepAliveTime": "",
        "writerGroupId": 9,
        "priority": 128,
        "maxNetworkMessageSize": 1400,
        "writers": "[{\"dataSetWriterId\":1,\"dataSetName\":\"T9\",\"publishedDataSet\":{\"name\":\"T9\",\"fields\":[{\"name\":\"V\",\"dataType\":\"Int32\"}],\"configurationVersion\":{\"major\":1,\"minor\":0}}}]",
        "x": 420,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "t9-sub",
        "type": "opcua-subscriber",
        "z": "v13-t9",
        "name": "Sub expect 2.0",
        "connection": "t9-conn",
        "messageEncoding": "uadp",
        "publisherId": "13000000-0000-4000-8000-000000000009",
        "writerGroupId": 9,
        "dataSetWriterId": 1,
        "expectedConfigVersion": "2.0",
        "x": 430,
        "y": 200,
        "wires": [
            [
                "t9-mark"
            ]
        ]
    },
    {
        "id": "t9-mark",
        "type": "function",
        "z": "v13-t9",
        "name": "mark recv",
        "func": "flow.set(\"t9_recv\", true); return null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "t9-check",
        "type": "inject",
        "z": "v13-t9",
        "name": "2. check (after ~2s)",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 300,
        "wires": [
            [
                "t9-assert"
            ]
        ]
    },
    {
        "id": "t9-assert",
        "type": "function",
        "z": "v13-t9",
        "name": "assert",
        "func": "const recv = flow.get(\"t9_recv\");\nnode.warn(recv ? \"[VALIDATE] T9 configversion-mismatch: FAIL - unexpectedly received DataSet msg\"\n               : \"[VALIDATE] T9 configversion-mismatch: PASS (msg suppressed, error logged)\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 300,
        "wires": [
            [
                "t9-dbg"
            ]
        ]
    },
    {
        "id": "t9-dbg",
        "type": "debug",
        "z": "v13-t9",
        "name": "T9 result",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 300,
        "wires": []
    }
]
