examples/all-use-cases.json
[
  {
    "id": "ep1",
    "type": "opcua-endpoint",
    "name": "Test Server",
    "endpointUrl": "opc.tcp://opcua-server:4840/UA/TestServer",
    "securityMode": "None",
    "securityPolicy": "None"
  },
  {
    "id": "tab-read",
    "type": "tab",
    "label": "Read Operations",
    "disabled": false,
    "info": ""
  },
  {
    "id": "comment-r1",
    "type": "comment",
    "z": "tab-read",
    "name": "\u2550\u2550 1. Single Read \u2550\u2550",
    "x": 150,
    "y": 40,
    "wires": []
  },
  {
    "id": "inject-read-topic",
    "type": "inject",
    "z": "tab-read",
    "name": "Read via msg.topic",
    "props": [
      {
        "p": "topic",
        "vt": "str",
        "v": "ns=1;s=Scalar.Int32"
      },
      {
        "p": "operation",
        "vt": "str",
        "v": "read"
      }
    ],
    "x": 160,
    "y": 80,
    "wires": [
      [
        "client-read"
      ]
    ],
    "repeat": "",
    "once": false,
    "onceDelay": 0.1,
    "crontab": "",
    "topic": "",
    "payload": "",
    "payloadType": "date"
  },
  {
    "id": "inject-read-nodeid",
    "type": "inject",
    "z": "tab-read",
    "name": "Read via msg.nodeId",
    "props": [
      {
        "p": "nodeId",
        "vt": "str",
        "v": "ns=1;s=Scalar.Double"
      },
      {
        "p": "operation",
        "vt": "str",
        "v": "read"
      }
    ],
    "x": 160,
    "y": 120,
    "wires": [
      [
        "client-read"
      ]
    ],
    "repeat": "",
    "once": false,
    "onceDelay": 0.1,
    "crontab": "",
    "topic": "",
    "payload": "",
    "payloadType": "date"
  },
  {
    "id": "inject-read-op",
    "type": "inject",
    "z": "tab-read",
    "name": "Read via msg.operation",
    "props": [
      {
        "p": "topic",
        "vt": "str",
        "v": "ns=1;s=Scalar.String"
      },
      {
        "p": "operation",
        "vt": "str",
        "v": "read"
      }
    ],
    "x": 170,
    "y": 160,
    "wires": [
      [
        "client-read"
      ]
    ],
    "repeat": "",
    "once": false,
    "onceDelay": 0.1,
    "crontab": "",
    "topic": "",
    "payload": "",
    "payloadType": "date"
  },
  {
    "id": "client-read",
    "type": "opcua-client",
    "z": "tab-read",
    "name": "Read Client",
    "endpoint": "ep1",
    "defaultOperation": "read",
    "x": 400,
    "y": 120,
    "wires": [
      [
        "debug-read"
      ]
    ]
  },
  {
    "id": "debug-read",
    "type": "debug",
    "z": "tab-read",
    "name": "Read Result",
    "active": true,
    "tosidebar": true,
    "complete": "true",
    "x": 590,
    "y": 120,
    "wires": []
  },
  {
    "id": "comment-r2",
    "type": "comment",
    "z": "tab-read",
    "name": "\u2550\u2550 2. Multiple Read (msg.items) \u2550\u2550",
    "x": 190,
    "y": 220,
    "wires": []
  },
  {
    "id": "inject-readmulti-func",
    "type": "inject",
    "z": "tab-read",
    "name": "Read Multiple via Function",
    "props": [],
    "x": 170,
    "y": 260,
    "wires": [
      [
        "func-readmulti"
      ]
    ],
    "repeat": "",
    "once": false,
    "onceDelay": 0.1,
    "crontab": "",
    "topic": "",
    "payload": "",
    "payloadType": "date"
  },
  {
    "id": "func-readmulti",
    "type": "function",
    "z": "tab-read",
    "name": "Build Read Items",
    "func": "msg.operation = 'readmultiple';\nmsg.items = [\n    { nodeId: 'ns=1;s=Scalar.Int32', name: 'MyInt' },\n    { nodeId: 'ns=1;s=Scalar.Double', name: 'MyDouble' },\n    { nodeId: 'ns=1;s=Scalar.Boolean', name: 'MyBool' },\n    { nodeId: 'ns=1;s=Scalar.String', name: 'MyString' }\n];\nreturn msg;",
    "outputs": 1,
    "x": 410,
    "y": 260,
    "wires": [
      [
        "client-readmulti"
      ]
    ]
  },
  {
    "id": "client-readmulti",
    "type": "opcua-client",
    "z": "tab-read",
    "name": "Multi-Read Client",
    "endpoint": "ep1",
    "defaultOperation": "readmultiple",
    "x": 630,
    "y": 260,
    "wires": [
      [
        "debug-readmulti"
      ]
    ]
  },
  {
    "id": "debug-readmulti",
    "type": "debug",
    "z": "tab-read",
    "name": "Multi-Read Result",
    "active": true,
    "tosidebar": true,
    "complete": "true",
    "x": 840,
    "y": 260,
    "wires": []
  },
  {
    "id": "comment-r3",
    "type": "comment",
    "z": "tab-read",
    "name": "\u2550\u2550 3. Read Multiple (msg.payload Object Format) \u2550\u2550  NEW",
    "x": 250,
    "y": 320,
    "wires": []
  },
  {
    "id": "inject-readmulti-payload",
    "type": "inject",
    "z": "tab-read",
    "name": "Read Multiple (payload object)",
    "props": [],
    "x": 190,
    "y": 360,
    "wires": [
      [
        "func-readmulti-payload"
      ]
    ],
    "repeat": "",
    "once": false,
    "onceDelay": 0.1,
    "crontab": "",
    "topic": "",
    "payload": "",
    "payloadType": "date"
  },
  {
    "id": "func-readmulti-payload",
    "type": "function",
    "z": "tab-read",
    "name": "Build Payload Object",
    "func": "// Object-Format: Key = friendly name, Value = nodeId string\nmsg.operation = 'readmultiple';\nmsg.payload = {\n    \"Temperature\": \"ns=1;s=Writable.Temperature\",\n    \"Pressure\": \"ns=1;s=Writable.Pressure\",\n    \"Counter\": \"ns=1;s=Writable.Counter\",\n    \"MachineName\": \"ns=1;s=Writable.MachineName\"\n};\nreturn msg;",
    "outputs": 1,
    "x": 440,
    "y": 360,
    "wires": [
      [
        "client-readmulti"
      ]
    ]
  },
  {
    "id": "comment-r4",
    "type": "comment",
    "z": "tab-read",
    "name": "\u2550\u2550 4. Multiple Read (Item Collector Pattern) \u2550\u2550",
    "x": 230,
    "y": 420,
    "wires": []
  },
  {
    "id": "inject-readcollector",
    "type": "inject",
    "z": "tab-read",
    "name": "Trigger Collector Read",
    "props": [
      {
        "p": "operation",
        "vt": "str",
        "v": "readmultiple"
      }
    ],
    "x": 160,
    "y": 460,
    "wires": [
      [
        "item-r-int32"
      ]
    ],
    "repeat": "",
    "once": false,
    "onceDelay": 0.1,
    "crontab": "",
    "topic": "",
    "payload": "",
    "payloadType": "date"
  },
  {
    "id": "item-r-int32",
    "type": "opcua-item",
    "z": "tab-read",
    "name": "Int32",
    "nodeId": "ns=1;s=Scalar.Int32",
    "datatype": "Int32",
    "itemName": "Int32",
    "collector": true,
    "x": 330,
    "y": 460,
    "wires": [
      [
        "item-r-double"
      ]
    ]
  },
  {
    "id": "item-r-double",
    "type": "opcua-item",
    "z": "tab-read",
    "name": "Double",
    "nodeId": "ns=1;s=Scalar.Double",
    "datatype": "Double",
    "itemName": "Double",
    "collector": true,
    "x": 490,
    "y": 460,
    "wires": [
      [
        "item-r-string"
      ]
    ]
  },
  {
    "id": "item-r-string",
    "type": "opcua-item",
    "z": "tab-read",
    "name": "String",
    "nodeId": "ns=1;s=Scalar.String",
    "datatype": "String",
    "itemName": "String",
    "collector": true,
    "x": 640,
    "y": 460,
    "wires": [
      [
        "client-readmulti"
      ]
    ]
  },
  {
    "id": "comment-r5",
    "type": "comment",
    "z": "tab-read",
    "name": "\u2550\u2550 5. Read Attribute (nicht nur Value) \u2550\u2550",
    "x": 210,
    "y": 530,
    "wires": []
  },
  {
    "id": "inject-readattr",
    "type": "inject",
    "z": "tab-read",
    "name": "Read BrowseName Attribute",
    "props": [
      {
        "p": "topic",
        "vt": "str",
        "v": "ns=1;s=Scalar.Int32"
      },
      {
        "p": "operation",
        "vt": "str",
        "v": "readattribute"
      },
      {
        "p": "attributeId",
        "vt": "str",
        "v": "BrowseName"
      }
    ],
    "x": 190,
    "y": 570,
    "wires": [
      [
        "client-read"
      ]
    ],
    "repeat": "",
    "once": false,
    "onceDelay": 0.1,
    "crontab": "",
    "topic": "",
    "payload": "",
    "payloadType": "date"
  },
  {
    "id": "inject-readattr2",
    "type": "inject",
    "z": "tab-read",
    "name": "Read DisplayName Attribute",
    "props": [
      {
        "p": "topic",
        "vt": "str",
        "v": "ns=1;s=Scalar.Int32"
      },
      {
        "p": "operation",
        "vt": "str",
        "v": "readattribute"
      },
      {
        "p": "attributeId",
        "vt": "str",
        "v": "DisplayName"
      }
    ],
    "x": 190,
    "y": 610,
    "wires": [
      [
        "client-read"
      ]
    ],
    "repeat": "",
    "once": false,
    "onceDelay": 0.1,
    "crontab": "",
    "topic": "",
    "payload": "",
    "payloadType": "date"
  },
  {
    "id": "tab-write",
    "type": "tab",
    "label": "Write Operations",
    "disabled": false,
    "info": ""
  },
  {
    "id": "comment-w1",
    "type": "comment",
    "z": "tab-write",
    "name": "\u2550\u2550 1. Single Write \u2550\u2550",
    "x": 150,
    "y": 40,
    "wires": []
  },
  {
    "id": "inject-write-double",
    "type": "inject",
    "z": "tab-write",
    "name": "Write Double (25.5)",
    "props": [
      {
        "p": "topic",
        "vt": "str",
        "v": "ns=1;s=Writable.Temperature"
      },
      {
        "p": "payload",
        "vt": "num",
        "v": "25.5"
      },
      {
        "p": "datatype",
        "vt": "str",
        "v": "Double"
      },
      {
        "p": "operation",
        "vt": "str",
        "v": "write"
      }
    ],
    "x": 160,
    "y": 80,
    "wires": [
      [
        "client-write"
      ]
    ],
    "repeat": "",
    "once": false,
    "onceDelay": 0.1,
    "crontab": "",
    "topic": "",
    "payload": "",
    "payloadType": "date"
  },
  {
    "id": "inject-write-bool",
    "type": "inject",
    "z": "tab-write",
    "name": "Write Boolean (true)",
    "props": [
      {
        "p": "topic",
        "vt": "str",
        "v": "ns=1;s=Writable.Active"
      },
      {
        "p": "payload",
        "vt": "bool",
        "v": "true"
      },
      {
        "p": "datatype",
        "vt": "str",
        "v": "Boolean"
      },
      {
        "p": "operation",
        "vt": "str",
        "v": "write"
      }
    ],
    "x": 160,
    "y": 120,
    "wires": [
      [
        "client-write"
      ]
    ],
    "repeat": "",
    "once": false,
    "onceDelay": 0.1,
    "crontab": "",
    "topic": "",
    "payload": "",
    "payloadType": "date"
  },
  {
    "id": "inject-write-string",
    "type": "inject",
    "z": "tab-write",
    "name": "Write String",
    "props": [
      {
        "p": "topic",
        "vt": "str",
        "v": "ns=1;s=Writable.MachineName"
      },
      {
        "p": "payload",
        "vt": "str",
        "v": "TestMachine-42"
      },
      {
        "p": "datatype",
        "vt": "str",
        "v": "String"
      },
      {
        "p": "operation",
        "vt": "str",
        "v": "write"
      }
    ],
    "x": 150,
    "y": 160,
    "wires": [
      [
        "client-write"
      ]
    ],
    "repeat": "",
    "once": false,
    "onceDelay": 0.1,
    "crontab": "",
    "topic": "",
    "payload": "",
    "payloadType": "date"
  },
  {
    "id": "inject-write-op",
    "type": "inject",
    "z": "tab-write",
    "name": "Write via msg.operation",
    "props": [
      {
        "p": "nodeId",
        "vt": "str",
        "v": "ns=1;s=Writable.SetPoint"
      },
      {
        "p": "payload",
        "vt": "num",
        "v": "100"
      },
      {
        "p": "operation",
        "vt": "str",
        "v": "write"
      },
      {
        "p": "datatype",
        "vt": "str",
        "v": "Double"
      }
    ],
    "x": 170,
    "y": 200,
    "wires": [
      [
        "client-write"
      ]
    ],
    "repeat": "",
    "once": false,
    "onceDelay": 0.1,
    "crontab": "",
    "topic": "",
    "payload": "",
    "payloadType": "date"
  },
  {
    "id": "client-write",
    "type": "opcua-client",
    "z": "tab-write",
    "name": "Write Client",
    "endpoint": "ep1",
    "defaultOperation": "write",
    "x": 410,
    "y": 140,
    "wires": [
      [
        "debug-write"
      ]
    ]
  },
  {
    "id": "debug-write",
    "type": "debug",
    "z": "tab-write",
    "name": "Write Result",
    "active": true,
    "tosidebar": true,
    "complete": "true",
    "x": 600,
    "y": 140,
    "wires": []
  },
  {
    "id": "comment-w2",
    "type": "comment",
    "z": "tab-write",
    "name": "\u2550\u2550 2. Multiple Write (msg.items via Function) \u2550\u2550",
    "x": 240,
    "y": 280,
    "wires": []
  },
  {
    "id": "inject-writemulti",
    "type": "inject",
    "z": "tab-write",
    "name": "Trigger Multi-Write",
    "props": [],
    "x": 150,
    "y": 320,
    "wires": [
      [
        "func-writemulti"
      ]
    ],
    "repeat": "",
    "once": false,
    "onceDelay": 0.1,
    "crontab": "",
    "topic": "",
    "payload": "",
    "payloadType": "date"
  },
  {
    "id": "func-writemulti",
    "type": "function",
    "z": "tab-write",
    "name": "Build Write Items",
    "func": "msg.operation = 'writemultiple';\nmsg.items = [\n    { nodeId: 'ns=1;s=Writable.Temperature', value: 22.5, datatype: 'Double' },\n    { nodeId: 'ns=1;s=Writable.Pressure', value: 1013.25, datatype: 'Double' },\n    { nodeId: 'ns=1;s=Writable.Active', value: true, datatype: 'Boolean' },\n    { nodeId: 'ns=1;s=Writable.MachineName', value: 'BatchWrite-Test', datatype: 'String' },\n    { nodeId: 'ns=1;s=Writable.Counter', value: 999, datatype: 'Int32' }\n];\nreturn msg;",
    "outputs": 1,
    "x": 390,
    "y": 320,
    "wires": [
      [
        "client-writemulti"
      ]
    ]
  },
  {
    "id": "client-writemulti",
    "type": "opcua-client",
    "z": "tab-write",
    "name": "Multi-Write Client",
    "endpoint": "ep1",
    "defaultOperation": "writemultiple",
    "x": 620,
    "y": 320,
    "wires": [
      [
        "debug-writemulti"
      ]
    ]
  },
  {
    "id": "debug-writemulti",
    "type": "debug",
    "z": "tab-write",
    "name": "Multi-Write Result",
    "active": true,
    "tosidebar": true,
    "complete": "true",
    "x": 840,
    "y": 320,
    "wires": []
  },
  {
    "id": "comment-w3",
    "type": "comment",
    "z": "tab-write",
    "name": "\u2550\u2550 3. Write Multiple (msg.payload Object Format) \u2550\u2550  NEW",
    "x": 260,
    "y": 400,
    "wires": []
  },
  {
    "id": "inject-writemulti-payload",
    "type": "inject",
    "z": "tab-write",
    "name": "Write Multiple (payload object)",
    "props": [],
    "x": 190,
    "y": 440,
    "wires": [
      [
        "func-writemulti-payload"
      ]
    ],
    "repeat": "",
    "once": false,
    "onceDelay": 0.1,
    "crontab": "",
    "topic": "",
    "payload": "",
    "payloadType": "date"
  },
  {
    "id": "func-writemulti-payload",
    "type": "function",
    "z": "tab-write",
    "name": "Build Payload Object",
    "func": "// Object-Format: Key = nodeId, Value = {value, datatype}\nmsg.operation = 'writemultiple';\nmsg.payload = {\n    \"ns=1;s=Writable.Temperature\": { value: 28.5, datatype: \"Double\" },\n    \"ns=1;s=Writable.Pressure\": { value: 1015.0, datatype: \"Double\" },\n    \"ns=1;s=Writable.Counter\": { value: 500, datatype: \"Int32\" },\n    \"ns=1;s=Writable.MachineName\": { value: \"PayloadWrite-Test\", datatype: \"String\" }\n};\nreturn msg;",
    "outputs": 1,
    "x": 450,
    "y": 440,
    "wires": [
      [
        "client-writemulti"
      ]
    ]
  },
  {
    "id": "comment-w4",
    "type": "comment",
    "z": "tab-write",
    "name": "\u2550\u2550 4. Multiple Write (Item Collector Pattern) \u2550\u2550",
    "x": 240,
    "y": 510,
    "wires": []
  },
  {
    "id": "inject-writecollector",
    "type": "inject",
    "z": "tab-write",
    "name": "Trigger Collector Write",
    "props": [],
    "x": 160,
    "y": 550,
    "wires": [
      [
        "func-writecoll-prep"
      ]
    ],
    "repeat": "",
    "once": false,
    "onceDelay": 0.1,
    "crontab": "",
    "topic": "",
    "payload": "",
    "payloadType": "date"
  },
  {
    "id": "func-writecoll-prep",
    "type": "function",
    "z": "tab-write",
    "name": "Set Operation + Values",
    "func": "msg.operation = 'writemultiple';\nmsg.writeValues = {\n    'Temperature': 30.0,\n    'Pressure': 1020.0,\n    'Counter': 42\n};\nreturn msg;",
    "outputs": 1,
    "x": 390,
    "y": 550,
    "wires": [
      [
        "item-w-temp"
      ]
    ]
  },
  {
    "id": "item-w-temp",
    "type": "opcua-item",
    "z": "tab-write",
    "name": "Temperature",
    "nodeId": "ns=1;s=Writable.Temperature",
    "datatype": "Double",
    "itemName": "Temperature",
    "collector": true,
    "x": 580,
    "y": 550,
    "wires": [
      [
        "item-w-pressure"
      ]
    ]
  },
  {
    "id": "item-w-pressure",
    "type": "opcua-item",
    "z": "tab-write",
    "name": "Pressure",
    "nodeId": "ns=1;s=Writable.Pressure",
    "datatype": "Double",
    "itemName": "Pressure",
    "collector": true,
    "x": 740,
    "y": 550,
    "wires": [
      [
        "item-w-counter"
      ]
    ]
  },
  {
    "id": "item-w-counter",
    "type": "opcua-item",
    "z": "tab-write",
    "name": "Counter",
    "nodeId": "ns=1;s=Writable.Counter",
    "datatype": "Int32",
    "itemName": "Counter",
    "collector": true,
    "x": 890,
    "y": 550,
    "wires": [
      [
        "func-writecoll-assign"
      ]
    ]
  },
  {
    "id": "func-writecoll-assign",
    "type": "function",
    "z": "tab-write",
    "name": "Assign Values to Items",
    "func": "// Values from writeValues map to items by name\nconst vals = msg.writeValues || {};\nif (msg.items) {\n    msg.items.forEach(item => {\n        if (vals[item.itemName] !== undefined) {\n            item.value = vals[item.itemName];\n        }\n    });\n}\nreturn msg;",
    "outputs": 1,
    "x": 1080,
    "y": 550,
    "wires": [
      [
        "client-writemulti"
      ]
    ]
  },
  {
    "id": "tab-subscribe",
    "type": "tab",
    "label": "Subscribe & Events",
    "disabled": false,
    "info": ""
  },
  {
    "id": "comment-s1",
    "type": "comment",
    "z": "tab-subscribe",
    "name": "\u2550\u2550 1. Subscribe / Unsubscribe \u2550\u2550",
    "x": 190,
    "y": 40,
    "wires": []
  },
  {
    "id": "inject-sub",
    "type": "inject",
    "z": "tab-subscribe",
    "name": "Subscribe (Sinus)",
    "props": [
      {
        "p": "topic",
        "vt": "str",
        "v": "ns=1;s=Dynamic.Sinus"
      },
      {
        "p": "operation",
        "vt": "str",
        "v": "subscribe"
      },
      {
        "p": "interval",
        "vt": "num",
        "v": "500"
      }
    ],
    "x": 160,
    "y": 80,
    "wires": [
      [
        "client-sub"
      ]
    ],
    "repeat": "",
    "once": false,
    "onceDelay": 0.1,
    "crontab": "",
    "topic": "",
    "payload": "",
    "payloadType": "date"
  },
  {
    "id": "inject-sub2",
    "type": "inject",
    "z": "tab-subscribe",
    "name": "Subscribe (Random)",
    "props": [
      {
        "p": "topic",
        "vt": "str",
        "v": "ns=1;s=Dynamic.Random"
      },
      {
        "p": "operation",
        "vt": "str",
        "v": "subscribe"
      },
      {
        "p": "interval",
        "vt": "num",
        "v": "1000"
      }
    ],
    "x": 160,
    "y": 120,
    "wires": [
      [
        "client-sub"
      ]
    ],
    "repeat": "",
    "once": false,
    "onceDelay": 0.1,
    "crontab": "",
    "topic": "",
    "payload": "",
    "payloadType": "date"
  },
  {
    "id": "inject-sub-queue",
    "type": "inject",
    "z": "tab-subscribe",
    "name": "Subscribe with QueueSize",
    "props": [
      {
        "p": "topic",
        "vt": "str",
        "v": "ns=1;s=Dynamic.Ramp"
      },
      {
        "p": "operation",
        "vt": "str",
        "v": "subscribe"
      },
      {
        "p": "interval",
        "vt": "num",
        "v": "250"
      },
      {
        "p": "queueSize",
        "vt": "num",
        "v": "20"
      }
    ],
    "x": 180,
    "y": 160,
    "wires": [
      [
        "client-sub"
      ]
    ],
    "repeat": "",
    "once": false,
    "onceDelay": 0.1,
    "crontab": "",
    "topic": "",
    "payload": "",
    "payloadType": "date"
  },
  {
    "id": "inject-unsub",
    "type": "inject",
    "z": "tab-subscribe",
    "name": "Unsubscribe (Sinus)",
    "props": [
      {
        "p": "topic",
        "vt": "str",
        "v": "ns=1;s=Dynamic.Sinus"
      },
      {
        "p": "operation",
        "vt": "str",
        "v": "unsubscribe"
      }
    ],
    "x": 170,
    "y": 210,
    "wires": [
      [
        "client-sub"
      ]
    ],
    "repeat": "",
    "once": false,
    "onceDelay": 0.1,
    "crontab": "",
    "topic": "",
    "payload": "",
    "payloadType": "date"
  },
  {
    "id": "client-sub",
    "type": "opcua-client",
    "z": "tab-subscribe",
    "name": "Subscribe Client",
    "endpoint": "ep1",
    "defaultOperation": "subscribe",
    "x": 430,
    "y": 140,
    "wires": [
      [
        "debug-sub"
      ]
    ]
  },
  {
    "id": "debug-sub",
    "type": "debug",
    "z": "tab-subscribe",
    "name": "Subscription Data",
    "active": true,
    "tosidebar": true,
    "complete": "true",
    "x": 640,
    "y": 140,
    "wires": []
  },
  {
    "id": "comment-s2",
    "type": "comment",
    "z": "tab-subscribe",
    "name": "\u2550\u2550 2. Event Subscription \u2550\u2550",
    "x": 170,
    "y": 300,
    "wires": []
  },
  {
    "id": "inject-event-sub",
    "type": "inject",
    "z": "tab-subscribe",
    "name": "Subscribe Events (Server)",
    "props": [
      {
        "p": "action",
        "vt": "str",
        "v": "subscribe"
      }
    ],
    "x": 180,
    "y": 340,
    "wires": [
      [
        "event-node"
      ]
    ],
    "repeat": "",
    "once": false,
    "onceDelay": 0.1,
    "crontab": "",
    "topic": "",
    "payload": "",
    "payloadType": "date"
  },
  {
    "id": "inject-event-unsub",
    "type": "inject",
    "z": "tab-subscribe",
    "name": "Unsubscribe Events",
    "props": [
      {
        "p": "action",
        "vt": "str",
        "v": "unsubscribe"
      }
    ],
    "x": 170,
    "y": 380,
    "wires": [
      [
        "event-node"
      ]
    ],
    "repeat": "",
    "once": false,
    "onceDelay": 0.1,
    "crontab": "",
    "topic": "",
    "payload": "",
    "payloadType": "date"
  },
  {
    "id": "event-node",
    "type": "opcua-event",
    "z": "tab-subscribe",
    "name": "Server Events",
    "sourceNodeId": "i=2253",
    "eventType": "",
    "x": 420,
    "y": 360,
    "wires": [
      [
        "debug-events"
      ]
    ],
    "endpoint": "ep1"
  },
  {
    "id": "debug-events",
    "type": "debug",
    "z": "tab-subscribe",
    "name": "Event Data",
    "active": true,
    "tosidebar": true,
    "complete": "true",
    "x": 610,
    "y": 360,
    "wires": []
  },
  {
    "id": "tab-browse",
    "type": "tab",
    "label": "Browse & Discovery",
    "disabled": false,
    "info": ""
  },
  {
    "id": "comment-b1",
    "type": "comment",
    "z": "tab-browse",
    "name": "\u2550\u2550 1. Browse \u2550\u2550",
    "x": 130,
    "y": 40,
    "wires": []
  },
  {
    "id": "inject-browse-root",
    "type": "inject",
    "z": "tab-browse",
    "name": "Browse RootFolder",
    "props": [
      {
        "p": "topic",
        "vt": "str",
        "v": "RootFolder"
      },
      {
        "p": "operation",
        "vt": "str",
        "v": "browse"
      }
    ],
    "x": 160,
    "y": 80,
    "wires": [
      [
        "client-browse"
      ]
    ],
    "repeat": "",
    "once": false,
    "onceDelay": 0.1,
    "crontab": "",
    "topic": "",
    "payload": "",
    "payloadType": "date"
  },
  {
    "id": "inject-browse-objects",
    "type": "inject",
    "z": "tab-browse",
    "name": "Browse ObjectsFolder",
    "props": [
      {
        "p": "topic",
        "vt": "str",
        "v": "i=85"
      },
      {
        "p": "operation",
        "vt": "str",
        "v": "browse"
      }
    ],
    "x": 170,
    "y": 120,
    "wires": [
      [
        "client-browse"
      ]
    ],
    "repeat": "",
    "once": false,
    "onceDelay": 0.1,
    "crontab": "",
    "topic": "",
    "payload": "",
    "payloadType": "date"
  },
  {
    "id": "inject-browse-testdata",
    "type": "inject",
    "z": "tab-browse",
    "name": "Browse TestData",
    "props": [
      {
        "p": "topic",
        "vt": "str",
        "v": "ns=1;s=TestData"
      },
      {
        "p": "operation",
        "vt": "str",
        "v": "browse"
      }
    ],
    "x": 160,
    "y": 160,
    "wires": [
      [
        "client-browse"
      ]
    ],
    "repeat": "",
    "once": false,
    "onceDelay": 0.1,
    "crontab": "",
    "topic": "",
    "payload": "",
    "payloadType": "date"
  },
  {
    "id": "inject-browse-machine",
    "type": "inject",
    "z": "tab-browse",
    "name": "Browse Machine Structure",
    "props": [
      {
        "p": "topic",
        "vt": "str",
        "v": "ns=1;s=Machine"
      },
      {
        "p": "operation",
        "vt": "str",
        "v": "browse"
      }
    ],
    "x": 180,
    "y": 200,
    "wires": [
      [
        "client-browse"
      ]
    ],
    "repeat": "",
    "once": false,
    "onceDelay": 0.1,
    "crontab": "",
    "topic": "",
    "payload": "",
    "payloadType": "date"
  },
  {
    "id": "inject-browse-nodeid",
    "type": "inject",
    "z": "tab-browse",
    "name": "Browse via msg.nodeId",
    "props": [
      {
        "p": "nodeId",
        "vt": "str",
        "v": "ns=1;s=Scalar"
      },
      {
        "p": "operation",
        "vt": "str",
        "v": "browse"
      }
    ],
    "x": 170,
    "y": 240,
    "wires": [
      [
        "client-browse"
      ]
    ],
    "repeat": "",
    "once": false,
    "onceDelay": 0.1,
    "crontab": "",
    "topic": "",
    "payload": "",
    "payloadType": "date"
  },
  {
    "id": "client-browse",
    "type": "opcua-client",
    "z": "tab-browse",
    "name": "Browse Client",
    "endpoint": "ep1",
    "defaultOperation": "browse",
    "x": 430,
    "y": 160,
    "wires": [
      [
        "debug-browse"
      ]
    ]
  },
  {
    "id": "debug-browse",
    "type": "debug",
    "z": "tab-browse",
    "name": "Browse Result",
    "active": true,
    "tosidebar": true,
    "complete": "true",
    "x": 620,
    "y": 160,
    "wires": []
  },
  {
    "id": "comment-b2",
    "type": "comment",
    "z": "tab-browse",
    "name": "\u2550\u2550 2. Browser Node (dedicated) \u2550\u2550",
    "x": 190,
    "y": 320,
    "wires": []
  },
  {
    "id": "inject-browser",
    "type": "inject",
    "z": "tab-browse",
    "name": "Browse from Root",
    "props": [
      {
        "p": "topic",
        "vt": "str",
        "v": "RootFolder"
      }
    ],
    "x": 160,
    "y": 360,
    "wires": [
      [
        "browser-node"
      ]
    ],
    "repeat": "",
    "once": false,
    "onceDelay": 0.1,
    "crontab": "",
    "topic": "",
    "payload": "",
    "payloadType": "date"
  },
  {
    "id": "browser-node",
    "type": "opcua-browser",
    "z": "tab-browse",
    "name": "Browser",
    "x": 380,
    "y": 360,
    "wires": [
      [
        "debug-browser"
      ]
    ],
    "endpoint": "ep1"
  },
  {
    "id": "debug-browser",
    "type": "debug",
    "z": "tab-browse",
    "name": "Browser Result",
    "active": true,
    "tosidebar": true,
    "complete": "true",
    "x": 580,
    "y": 360,
    "wires": []
  },
  {
    "id": "comment-b3",
    "type": "comment",
    "z": "tab-browse",
    "name": "\u2550\u2550 3. Get Endpoints (Discovery) \u2550\u2550",
    "x": 190,
    "y": 440,
    "wires": []
  },
  {
    "id": "inject-endpoints-default",
    "type": "inject",
    "z": "tab-browse",
    "name": "Get Endpoints (configured)",
    "props": [
      {
        "p": "operation",
        "vt": "str",
        "v": "getendpoints"
      }
    ],
    "x": 180,
    "y": 480,
    "wires": [
      [
        "client-browse"
      ]
    ],
    "repeat": "",
    "once": false,
    "onceDelay": 0.1,
    "crontab": "",
    "topic": "",
    "payload": "",
    "payloadType": "date"
  },
  {
    "id": "inject-endpoints-custom",
    "type": "inject",
    "z": "tab-browse",
    "name": "Get Endpoints (custom URL)",
    "props": [
      {
        "p": "operation",
        "vt": "str",
        "v": "getendpoints"
      },
      {
        "p": "endpointUrl",
        "vt": "str",
        "v": "opc.tcp://opcua-server:4840/UA/TestServer"
      }
    ],
    "x": 190,
    "y": 520,
    "wires": [
      [
        "client-browse"
      ]
    ],
    "repeat": "",
    "once": false,
    "onceDelay": 0.1,
    "crontab": "",
    "topic": "",
    "payload": "",
    "payloadType": "date"
  },
  {
    "id": "comment-b4",
    "type": "comment",
    "z": "tab-browse",
    "name": "\u2550\u2550 4. Translate Browse Path \u2550\u2550",
    "x": 180,
    "y": 600,
    "wires": []
  },
  {
    "id": "inject-translate",
    "type": "inject",
    "z": "tab-browse",
    "name": "Translate Browse Path",
    "props": [
      {
        "p": "operation",
        "vt": "str",
        "v": "translatebrowsepath"
      },
      {
        "p": "startNodeId",
        "vt": "str",
        "v": "i=84"
      },
      {
        "p": "browsePath",
        "vt": "str",
        "v": "/Objects/1:TestData/1:Scalar"
      }
    ],
    "x": 170,
    "y": 640,
    "wires": [
      [
        "client-browse"
      ]
    ],
    "repeat": "",
    "once": false,
    "onceDelay": 0.1,
    "crontab": "",
    "topic": "",
    "payload": "",
    "payloadType": "date"
  },
  {
    "id": "comment-b5",
    "type": "comment",
    "z": "tab-browse",
    "name": "\u2550\u2550 5. Register / Unregister Nodes \u2550\u2550",
    "x": 200,
    "y": 720,
    "wires": []
  },
  {
    "id": "inject-register",
    "type": "inject",
    "z": "tab-browse",
    "name": "Register Nodes",
    "props": [
      {
        "p": "operation",
        "vt": "str",
        "v": "registernodes"
      },
      {
        "p": "items",
        "vt": "json",
        "v": "[{\"nodeId\":\"ns=1;s=Scalar.Int32\"},{\"nodeId\":\"ns=1;s=Scalar.Double\"}]"
      }
    ],
    "x": 150,
    "y": 760,
    "wires": [
      [
        "client-browse"
      ]
    ],
    "repeat": "",
    "once": false,
    "onceDelay": 0.1,
    "crontab": "",
    "topic": "",
    "payload": "",
    "payloadType": "date"
  },
  {
    "id": "inject-unregister",
    "type": "inject",
    "z": "tab-browse",
    "name": "Unregister Nodes",
    "props": [
      {
        "p": "operation",
        "vt": "str",
        "v": "unregisternodes"
      },
      {
        "p": "items",
        "vt": "json",
        "v": "[{\"nodeId\":\"ns=1;s=Scalar.Int32\"},{\"nodeId\":\"ns=1;s=Scalar.Double\"}]"
      }
    ],
    "x": 160,
    "y": 800,
    "wires": [
      [
        "client-browse"
      ]
    ],
    "repeat": "",
    "once": false,
    "onceDelay": 0.1,
    "crontab": "",
    "topic": "",
    "payload": "",
    "payloadType": "date"
  },
  {
    "id": "tab-method",
    "type": "tab",
    "label": "Method Calls",
    "disabled": false,
    "info": ""
  },
  {
    "id": "comment-m1",
    "type": "comment",
    "z": "tab-method",
    "name": "\u2550\u2550 1. Method Call via Client Node \u2550\u2550",
    "x": 200,
    "y": 40,
    "wires": []
  },
  {
    "id": "inject-method-add",
    "type": "inject",
    "z": "tab-method",
    "name": "Call Add(3, 7)",
    "props": [
      {
        "p": "operation",
        "vt": "str",
        "v": "method"
      },
      {
        "p": "objectNodeId",
        "vt": "str",
        "v": "ns=1;s=Methods"
      },
      {
        "p": "methodNodeId",
        "vt": "str",
        "v": "ns=1;s=Methods.Add"
      },
      {
        "p": "inputArguments",
        "vt": "json",
        "v": "[{\"dataType\":\"Double\",\"value\":3},{\"dataType\":\"Double\",\"value\":7}]"
      }
    ],
    "x": 150,
    "y": 80,
    "wires": [
      [
        "client-method"
      ]
    ],
    "repeat": "",
    "once": false,
    "onceDelay": 0.1,
    "crontab": "",
    "topic": "",
    "payload": "",
    "payloadType": "date"
  },
  {
    "id": "inject-method-multiply",
    "type": "inject",
    "z": "tab-method",
    "name": "Call Multiply(6, 7)",
    "props": [
      {
        "p": "operation",
        "vt": "str",
        "v": "method"
      },
      {
        "p": "objectNodeId",
        "vt": "str",
        "v": "ns=1;s=Methods"
      },
      {
        "p": "methodNodeId",
        "vt": "str",
        "v": "ns=1;s=Methods.Multiply"
      },
      {
        "p": "inputArguments",
        "vt": "json",
        "v": "[{\"dataType\":\"Double\",\"value\":6},{\"dataType\":\"Double\",\"value\":7}]"
      }
    ],
    "x": 160,
    "y": 120,
    "wires": [
      [
        "client-method"
      ]
    ],
    "repeat": "",
    "once": false,
    "onceDelay": 0.1,
    "crontab": "",
    "topic": "",
    "payload": "",
    "payloadType": "date"
  },
  {
    "id": "inject-method-reset",
    "type": "inject",
    "z": "tab-method",
    "name": "Call ResetAll()",
    "props": [
      {
        "p": "operation",
        "vt": "str",
        "v": "method"
      },
      {
        "p": "objectNodeId",
        "vt": "str",
        "v": "ns=1;s=Methods"
      },
      {
        "p": "methodNodeId",
        "vt": "str",
        "v": "ns=1;s=Methods.ResetAll"
      },
      {
        "p": "inputArguments",
        "vt": "json",
        "v": "[]"
      }
    ],
    "x": 150,
    "y": 160,
    "wires": [
      [
        "client-method"
      ]
    ],
    "repeat": "",
    "once": false,
    "onceDelay": 0.1,
    "crontab": "",
    "topic": "",
    "payload": "",
    "payloadType": "date"
  },
  {
    "id": "inject-method-payload",
    "type": "inject",
    "z": "tab-method",
    "name": "Method via msg.payload args",
    "props": [
      {
        "p": "operation",
        "vt": "str",
        "v": "method"
      },
      {
        "p": "topic",
        "vt": "str",
        "v": "ns=1;s=Methods"
      },
      {
        "p": "methodNodeId",
        "vt": "str",
        "v": "ns=1;s=Methods.Add"
      },
      {
        "p": "payload",
        "vt": "json",
        "v": "[10, 20]"
      }
    ],
    "x": 190,
    "y": 200,
    "wires": [
      [
        "client-method"
      ]
    ],
    "repeat": "",
    "once": false,
    "onceDelay": 0.1,
    "crontab": "",
    "topic": "",
    "payload": "",
    "payloadType": "date"
  },
  {
    "id": "client-method",
    "type": "opcua-client",
    "z": "tab-method",
    "name": "Method Client",
    "endpoint": "ep1",
    "defaultOperation": "method",
    "x": 440,
    "y": 140,
    "wires": [
      [
        "debug-method"
      ]
    ]
  },
  {
    "id": "debug-method",
    "type": "debug",
    "z": "tab-method",
    "name": "Method Result",
    "active": true,
    "tosidebar": true,
    "complete": "true",
    "x": 630,
    "y": 140,
    "wires": []
  },
  {
    "id": "comment-m2",
    "type": "comment",
    "z": "tab-method",
    "name": "\u2550\u2550 2. Method Call via Method Node \u2550\u2550",
    "x": 200,
    "y": 300,
    "wires": []
  },
  {
    "id": "inject-method-node-add",
    "type": "inject",
    "z": "tab-method",
    "name": "Add(5, 15)",
    "props": [
      {
        "p": "inputArguments",
        "vt": "json",
        "v": "[{\"dataType\":\"Double\",\"value\":5},{\"dataType\":\"Double\",\"value\":15}]"
      }
    ],
    "x": 140,
    "y": 340,
    "wires": [
      [
        "method-node-add"
      ]
    ],
    "repeat": "",
    "once": false,
    "onceDelay": 0.1,
    "crontab": "",
    "topic": "",
    "payload": "",
    "payloadType": "date"
  },
  {
    "id": "inject-method-node-dynamic",
    "type": "inject",
    "z": "tab-method",
    "name": "Dynamic args via msg",
    "props": [
      {
        "p": "objectNodeId",
        "vt": "str",
        "v": "ns=1;s=Methods"
      },
      {
        "p": "methodNodeId",
        "vt": "str",
        "v": "ns=1;s=Methods.Multiply"
      },
      {
        "p": "inputArguments",
        "vt": "json",
        "v": "[{\"dataType\":\"Double\",\"value\":3},{\"dataType\":\"Double\",\"value\":14}]"
      }
    ],
    "x": 170,
    "y": 380,
    "wires": [
      [
        "method-node-add"
      ]
    ],
    "repeat": "",
    "once": false,
    "onceDelay": 0.1,
    "crontab": "",
    "topic": "",
    "payload": "",
    "payloadType": "date"
  },
  {
    "id": "method-node-add",
    "type": "opcua-method",
    "z": "tab-method",
    "name": "Call Add",
    "objectNodeId": "ns=1;s=Methods",
    "methodNodeId": "ns=1;s=Methods.Add",
    "x": 390,
    "y": 360,
    "wires": [
      [
        "debug-method-node"
      ]
    ],
    "endpoint": "ep1"
  },
  {
    "id": "debug-method-node",
    "type": "debug",
    "z": "tab-method",
    "name": "Method Node Result",
    "active": true,
    "tosidebar": true,
    "complete": "true",
    "x": 600,
    "y": 360,
    "wires": []
  },
  {
    "id": "tab-history",
    "type": "tab",
    "label": "History Read",
    "disabled": false,
    "info": ""
  },
  {
    "id": "comment-h1",
    "type": "comment",
    "z": "tab-history",
    "name": "\u2550\u2550 History Read \u2550\u2550",
    "x": 140,
    "y": 40,
    "wires": []
  },
  {
    "id": "inject-history-default",
    "type": "inject",
    "z": "tab-history",
    "name": "History Read (last hour)",
    "props": [
      {
        "p": "topic",
        "vt": "str",
        "v": "ns=1;s=Dynamic.Sinus"
      },
      {
        "p": "operation",
        "vt": "str",
        "v": "history"
      }
    ],
    "x": 170,
    "y": 80,
    "wires": [
      [
        "client-history"
      ]
    ],
    "repeat": "",
    "once": false,
    "onceDelay": 0.1,
    "crontab": "",
    "topic": "",
    "payload": "",
    "payloadType": "date"
  },
  {
    "id": "inject-history-custom",
    "type": "inject",
    "z": "tab-history",
    "name": "History Read (custom range)",
    "props": [],
    "x": 180,
    "y": 120,
    "wires": [
      [
        "func-history"
      ]
    ],
    "repeat": "",
    "once": false,
    "onceDelay": 0.1,
    "crontab": "",
    "topic": "",
    "payload": "",
    "payloadType": "date"
  },
  {
    "id": "func-history",
    "type": "function",
    "z": "tab-history",
    "name": "Set Time Range",
    "func": "msg.operation = 'history';\nmsg.nodeId = 'ns=1;s=Dynamic.Sinus';\nmsg.startTime = new Date(Date.now() - 3600000); // 1 hour ago\nmsg.endTime = new Date();\nmsg.maxValues = 100;\nreturn msg;",
    "outputs": 1,
    "x": 410,
    "y": 120,
    "wires": [
      [
        "client-history"
      ]
    ]
  },
  {
    "id": "inject-history-payload",
    "type": "inject",
    "z": "tab-history",
    "name": "History via msg.payload",
    "props": [],
    "x": 170,
    "y": 160,
    "wires": [
      [
        "func-history-payload"
      ]
    ],
    "repeat": "",
    "once": false,
    "onceDelay": 0.1,
    "crontab": "",
    "topic": "",
    "payload": "",
    "payloadType": "date"
  },
  {
    "id": "func-history-payload",
    "type": "function",
    "z": "tab-history",
    "name": "Payload with times",
    "func": "msg.operation = 'history';\nmsg.nodeId = 'ns=1;s=Dynamic.Random';\nmsg.payload = {\n    startTime: new Date(Date.now() - 7200000), // 2 hours\n    endTime: new Date()\n};\nmsg.maxValues = 500;\nreturn msg;",
    "outputs": 1,
    "x": 410,
    "y": 160,
    "wires": [
      [
        "client-history"
      ]
    ]
  },
  {
    "id": "client-history",
    "type": "opcua-client",
    "z": "tab-history",
    "name": "History Client",
    "endpoint": "ep1",
    "defaultOperation": "history",
    "x": 630,
    "y": 120,
    "wires": [
      [
        "debug-history"
      ]
    ]
  },
  {
    "id": "debug-history",
    "type": "debug",
    "z": "tab-history",
    "name": "History Result",
    "active": true,
    "tosidebar": true,
    "complete": "true",
    "x": 820,
    "y": 120,
    "wires": []
  },
  {
    "id": "tab-advanced",
    "type": "tab",
    "label": "Advanced Patterns",
    "disabled": false,
    "info": ""
  },
  {
    "id": "comment-a1",
    "type": "comment",
    "z": "tab-advanced",
    "name": "\u2550\u2550 1. Read-Modify-Write Pattern \u2550\u2550",
    "x": 190,
    "y": 40,
    "wires": []
  },
  {
    "id": "inject-rmw",
    "type": "inject",
    "z": "tab-advanced",
    "name": "Read-Modify-Write",
    "props": [
      {
        "p": "topic",
        "vt": "str",
        "v": "ns=1;s=Writable.Counter"
      },
      {
        "p": "operation",
        "vt": "str",
        "v": "read"
      }
    ],
    "x": 160,
    "y": 80,
    "wires": [
      [
        "client-advanced"
      ]
    ],
    "repeat": "",
    "once": false,
    "onceDelay": 0.1,
    "crontab": "",
    "topic": "",
    "payload": "",
    "payloadType": "date"
  },
  {
    "id": "client-advanced",
    "type": "opcua-client",
    "z": "tab-advanced",
    "name": "Advanced Client",
    "endpoint": "ep1",
    "defaultOperation": "read",
    "x": 430,
    "y": 200,
    "wires": [
      [
        "debug-advanced",
        "func-rmw",
        "func-condcheck"
      ]
    ]
  },
  {
    "id": "func-rmw",
    "type": "function",
    "z": "tab-advanced",
    "name": "Increment +1",
    "func": "// Only process read results for Counter\nif (msg.operation === 'read' && msg.nodeId === 'ns=1;s=Writable.Counter') {\n    msg.operation = 'write';\n    msg.payload = (msg.payload || 0) + 1;\n    msg.datatype = 'Int32';\n    return msg;\n}\nreturn null;",
    "outputs": 1,
    "x": 650,
    "y": 80,
    "wires": [
      [
        "client-advanced"
      ]
    ]
  },
  {
    "id": "debug-advanced",
    "type": "debug",
    "z": "tab-advanced",
    "name": "Advanced Result",
    "active": true,
    "tosidebar": true,
    "complete": "true",
    "x": 660,
    "y": 200,
    "wires": []
  },
  {
    "id": "comment-a2",
    "type": "comment",
    "z": "tab-advanced",
    "name": "\u2550\u2550 2. Polling Pattern (timed read) \u2550\u2550",
    "x": 200,
    "y": 280,
    "wires": []
  },
  {
    "id": "inject-poll",
    "type": "inject",
    "z": "tab-advanced",
    "name": "Poll every 2s",
    "props": [
      {
        "p": "topic",
        "vt": "str",
        "v": "ns=1;s=Dynamic.Sinus"
      },
      {
        "p": "operation",
        "vt": "str",
        "v": "read"
      }
    ],
    "repeat": "2",
    "x": 150,
    "y": 320,
    "wires": [
      [
        "client-advanced"
      ]
    ],
    "once": false,
    "onceDelay": 0.1,
    "crontab": "",
    "topic": "",
    "payload": "",
    "payloadType": "date"
  },
  {
    "id": "comment-a3",
    "type": "comment",
    "z": "tab-advanced",
    "name": "\u2550\u2550 3. Conditional Write (read > check > write) \u2550\u2550",
    "x": 240,
    "y": 390,
    "wires": []
  },
  {
    "id": "inject-condwrite",
    "type": "inject",
    "z": "tab-advanced",
    "name": "Check Temperature",
    "props": [
      {
        "p": "topic",
        "vt": "str",
        "v": "ns=1;s=Writable.Temperature"
      },
      {
        "p": "operation",
        "vt": "str",
        "v": "read"
      }
    ],
    "x": 160,
    "y": 430,
    "wires": [
      [
        "client-advanced"
      ]
    ],
    "repeat": "",
    "once": false,
    "onceDelay": 0.1,
    "crontab": "",
    "topic": "",
    "payload": "",
    "payloadType": "date"
  },
  {
    "id": "func-condcheck",
    "type": "function",
    "z": "tab-advanced",
    "name": "If > 30 set to 20",
    "func": "// Only process read results for Temperature\nif (msg.operation === 'read' && msg.nodeId === 'ns=1;s=Writable.Temperature') {\n    if (msg.payload > 30) {\n        msg.operation = 'write';\n        msg.payload = 20.0;\n        msg.datatype = 'Double';\n        return msg;\n    }\n}\nreturn null;",
    "outputs": 1,
    "x": 660,
    "y": 430,
    "wires": [
      [
        "client-advanced"
      ]
    ]
  },
  {
    "id": "comment-a4",
    "type": "comment",
    "z": "tab-advanced",
    "name": "\u2550\u2550 4. Dynamic NodeId from msg \u2550\u2550",
    "x": 190,
    "y": 510,
    "wires": []
  },
  {
    "id": "inject-dynamic-ns2",
    "type": "inject",
    "z": "tab-advanced",
    "name": "Read ns=1;s=Scalar.Int32",
    "props": [
      {
        "p": "nodeId",
        "vt": "str",
        "v": "ns=1;s=Scalar.Int32"
      },
      {
        "p": "operation",
        "vt": "str",
        "v": "read"
      }
    ],
    "x": 180,
    "y": 550,
    "wires": [
      [
        "client-advanced"
      ]
    ],
    "repeat": "",
    "once": false,
    "onceDelay": 0.1,
    "crontab": "",
    "topic": "",
    "payload": "",
    "payloadType": "date"
  },
  {
    "id": "inject-dynamic-sinus",
    "type": "inject",
    "z": "tab-advanced",
    "name": "Read ns=1;s=Dynamic.Sinus",
    "props": [
      {
        "p": "nodeId",
        "vt": "str",
        "v": "ns=1;s=Dynamic.Sinus"
      },
      {
        "p": "operation",
        "vt": "str",
        "v": "read"
      }
    ],
    "x": 190,
    "y": 590,
    "wires": [
      [
        "client-advanced"
      ]
    ],
    "repeat": "",
    "once": false,
    "onceDelay": 0.1,
    "crontab": "",
    "topic": "",
    "payload": "",
    "payloadType": "date"
  },
  {
    "id": "inject-dynamic-motor",
    "type": "inject",
    "z": "tab-advanced",
    "name": "Read Motor.Speed",
    "props": [
      {
        "p": "nodeId",
        "vt": "str",
        "v": "ns=1;s=Machine.Motor.Speed"
      },
      {
        "p": "operation",
        "vt": "str",
        "v": "read"
      }
    ],
    "x": 160,
    "y": 630,
    "wires": [
      [
        "client-advanced"
      ]
    ],
    "repeat": "",
    "once": false,
    "onceDelay": 0.1,
    "crontab": "",
    "topic": "",
    "payload": "",
    "payloadType": "date"
  },
  {
    "id": "comment-a5",
    "type": "comment",
    "z": "tab-advanced",
    "name": "\u2550\u2550 5. Batch Read All Machine Data \u2550\u2550",
    "x": 200,
    "y": 710,
    "wires": []
  },
  {
    "id": "inject-machine-all",
    "type": "inject",
    "z": "tab-advanced",
    "name": "Read All Machine Data",
    "props": [],
    "x": 160,
    "y": 750,
    "wires": [
      [
        "func-machine-all"
      ]
    ],
    "repeat": "",
    "once": false,
    "onceDelay": 0.1,
    "crontab": "",
    "topic": "",
    "payload": "",
    "payloadType": "date"
  },
  {
    "id": "func-machine-all",
    "type": "function",
    "z": "tab-advanced",
    "name": "Build Machine Items",
    "func": "msg.operation = 'readmultiple';\nmsg.items = [\n    { nodeId: 'ns=1;s=Machine.Motor.Speed', name: 'Motor Speed' },\n    { nodeId: 'ns=1;s=Machine.Motor.Current', name: 'Motor Current' },\n    { nodeId: 'ns=1;s=Machine.Motor.Temperature', name: 'Motor Temp' },\n    { nodeId: 'ns=1;s=Machine.Motor.Running', name: 'Motor Running' },\n    { nodeId: 'ns=1;s=Machine.Pump.FlowRate', name: 'Pump Flow' },\n    { nodeId: 'ns=1;s=Machine.Pump.Pressure', name: 'Pump Pressure' },\n    { nodeId: 'ns=1;s=Machine.Pump.ValveOpen', name: 'Valve Open' },\n    { nodeId: 'ns=1;s=Machine.Sensors.AmbientTemp', name: 'Ambient Temp' },\n    { nodeId: 'ns=1;s=Machine.Sensors.Humidity', name: 'Humidity' },\n    { nodeId: 'ns=1;s=Machine.Sensors.Vibration', name: 'Vibration' }\n];\nreturn msg;",
    "outputs": 1,
    "x": 410,
    "y": 750,
    "wires": [
      [
        "client-advanced"
      ]
    ]
  }
]