data/flows.json
[
    {
        "id": "ex01-endpoint",
        "type": "opcua-endpoint",
        "name": "Test Server",
        "endpointUrl": "opc.tcp://opcua-server:4840/UA/TestServer",
        "securityMode": "None",
        "securityPolicy": "None"
    },
    {
        "id": "ex01-tab",
        "type": "tab",
        "label": "01 - Read Single Variable",
        "info": "Read a single OPC UA variable. The inject node sets msg.topic to the NodeId, the client reads it.\n\nThis example uses the included Docker test server. Start it with:\n\n    docker compose up -d\n\nThe test server listens on opc.tcp://localhost:4841/UA/TestServer and provides demo NodeIds in namespace 1 (e.g. ns=1;s=Scalar.Double).\n\nTo use your own server, edit the endpoint URL on the OPC UA Client config node."
    },
    {
        "id": "ex01-comment",
        "type": "comment",
        "z": "ex01-tab",
        "name": "Click an inject button to read a variable from the test server",
        "x": 280,
        "y": 40,
        "wires": []
    },
    {
        "id": "ex01-inject",
        "type": "inject",
        "z": "ex01-tab",
        "name": "Read Scalar.Double",
        "props": [
            {
                "p": "topic",
                "vt": "str",
                "v": "ns=1;s=Scalar.Double"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 120,
        "wires": [
            [
                "ex01-client"
            ]
        ]
    },
    {
        "id": "ex01-inject-int",
        "type": "inject",
        "z": "ex01-tab",
        "name": "Read Scalar.Int32",
        "props": [
            {
                "p": "topic",
                "vt": "str",
                "v": "ns=1;s=Scalar.Int32"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 180,
        "wires": [
            [
                "ex01-client"
            ]
        ]
    },
    {
        "id": "ex01-inject-str",
        "type": "inject",
        "z": "ex01-tab",
        "name": "Read Scalar.String",
        "props": [
            {
                "p": "topic",
                "vt": "str",
                "v": "ns=1;s=Scalar.String"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 240,
        "wires": [
            [
                "ex01-client"
            ]
        ]
    },
    {
        "id": "ex01-client",
        "type": "opcua-client",
        "z": "ex01-tab",
        "name": "",
        "endpoint": "ex01-endpoint",
        "defaultOperation": "read",
        "x": 380,
        "y": 180,
        "wires": [
            [
                "ex01-debug"
            ]
        ]
    },
    {
        "id": "ex01-debug",
        "type": "debug",
        "z": "ex01-tab",
        "name": "Value",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 570,
        "y": 180,
        "wires": []
    },
    {
        "id": "ex02-endpoint",
        "type": "opcua-endpoint",
        "name": "Test Server",
        "endpointUrl": "opc.tcp://opcua-server:4840/UA/TestServer",
        "securityMode": "None",
        "securityPolicy": "None"
    },
    {
        "id": "ex02-tab",
        "type": "tab",
        "label": "02 - Batch Read (Item Collector)",
        "info": "Chain multiple Item nodes to build a batch read. Each Item node adds its variables to msg.items. The client reads them all in one OPC UA service call.\n\nThis example uses the included Docker test server. Start it with:\n\n    docker compose up -d\n\nNodeIds used: ns=1;s=Scalar.Double, ns=1;s=Scalar.Int32, ns=1;s=Scalar.String."
    },
    {
        "id": "ex02-comment1",
        "type": "comment",
        "z": "ex02-tab",
        "name": "Chain Pattern: each Item node adds to msg.items, client reads all at once",
        "x": 300,
        "y": 40,
        "wires": []
    },
    {
        "id": "ex02-inject",
        "type": "inject",
        "z": "ex02-tab",
        "name": "Trigger",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 120,
        "wires": [
            [
                "ex02-item1"
            ]
        ]
    },
    {
        "id": "ex02-item1",
        "type": "opcua-item",
        "z": "ex02-tab",
        "name": "Double",
        "items": [
            {
                "nodeId": "ns=1;s=Scalar.Double",
                "datatype": "Double",
                "itemName": "Double"
            }
        ],
        "collector": true,
        "x": 280,
        "y": 120,
        "wires": [
            [
                "ex02-item2"
            ]
        ]
    },
    {
        "id": "ex02-item2",
        "type": "opcua-item",
        "z": "ex02-tab",
        "name": "Int32",
        "items": [
            {
                "nodeId": "ns=1;s=Scalar.Int32",
                "datatype": "Int32",
                "itemName": "Int32"
            }
        ],
        "collector": true,
        "x": 450,
        "y": 120,
        "wires": [
            [
                "ex02-client"
            ]
        ]
    },
    {
        "id": "ex02-client",
        "type": "opcua-client",
        "z": "ex02-tab",
        "name": "",
        "endpoint": "ex02-endpoint",
        "defaultOperation": "read",
        "x": 630,
        "y": 120,
        "wires": [
            [
                "ex02-debug"
            ]
        ]
    },
    {
        "id": "ex02-debug",
        "type": "debug",
        "z": "ex02-tab",
        "name": "Results",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 810,
        "y": 120,
        "wires": []
    },
    {
        "id": "ex02-comment2",
        "type": "comment",
        "z": "ex02-tab",
        "name": "Alternative: all items in one node",
        "x": 210,
        "y": 220,
        "wires": []
    },
    {
        "id": "ex02-inject2",
        "type": "inject",
        "z": "ex02-tab",
        "name": "Trigger",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 280,
        "wires": [
            [
                "ex02-items-all"
            ]
        ]
    },
    {
        "id": "ex02-items-all",
        "type": "opcua-item",
        "z": "ex02-tab",
        "name": "All Scalars",
        "items": [
            {
                "nodeId": "ns=1;s=Scalar.Double",
                "datatype": "Double",
                "itemName": "Double"
            },
            {
                "nodeId": "ns=1;s=Scalar.Int32",
                "datatype": "Int32",
                "itemName": "Int32"
            },
            {
                "nodeId": "ns=1;s=Scalar.String",
                "datatype": "String",
                "itemName": "String"
            }
        ],
        "collector": true,
        "x": 280,
        "y": 280,
        "wires": [
            [
                "ex02-client2"
            ]
        ]
    },
    {
        "id": "ex02-client2",
        "type": "opcua-client",
        "z": "ex02-tab",
        "name": "",
        "endpoint": "ex02-endpoint",
        "defaultOperation": "read",
        "x": 460,
        "y": 280,
        "wires": [
            [
                "ex02-debug2"
            ]
        ]
    },
    {
        "id": "ex02-debug2",
        "type": "debug",
        "z": "ex02-tab",
        "name": "Results",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 640,
        "y": 280,
        "wires": []
    },
    {
        "id": "ex03-endpoint",
        "type": "opcua-endpoint",
        "name": "Test Server",
        "endpointUrl": "opc.tcp://opcua-server:4840/UA/TestServer",
        "securityMode": "None",
        "securityPolicy": "None"
    },
    {
        "id": "ex03-tab",
        "type": "tab",
        "label": "03 - Write a Value",
        "info": "Write a value to an OPC UA variable. The inject sets the value in msg.payload, the NodeId in msg.topic, and optionally msg.datatype.\n\nThis example uses the included Docker test server. Start it with:\n\n    docker compose up -d\n\nWritable NodeIds used: ns=1;s=Writable.Temperature, ns=1;s=Writable.Active, ns=1;s=Writable.MachineName."
    },
    {
        "id": "ex03-comment",
        "type": "comment",
        "z": "ex03-tab",
        "name": "Set msg.payload to the value, msg.topic to the NodeId, msg.datatype for the type",
        "x": 320,
        "y": 40,
        "wires": []
    },
    {
        "id": "ex03-inject",
        "type": "inject",
        "z": "ex03-tab",
        "name": "Write Temperature 25.5",
        "props": [
            {
                "p": "payload",
                "vt": "num",
                "v": "25.5"
            },
            {
                "p": "topic",
                "vt": "str",
                "v": "ns=1;s=Writable.Temperature"
            },
            {
                "p": "datatype",
                "vt": "str",
                "v": "Double"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 120,
        "wires": [
            [
                "ex03-client"
            ]
        ]
    },
    {
        "id": "ex03-inject2",
        "type": "inject",
        "z": "ex03-tab",
        "name": "Write Active = true",
        "props": [
            {
                "p": "payload",
                "vt": "bool",
                "v": "true"
            },
            {
                "p": "topic",
                "vt": "str",
                "v": "ns=1;s=Writable.Active"
            },
            {
                "p": "datatype",
                "vt": "str",
                "v": "Boolean"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 180,
        "wires": [
            [
                "ex03-client"
            ]
        ]
    },
    {
        "id": "ex03-inject3",
        "type": "inject",
        "z": "ex03-tab",
        "name": "Write MachineName \"Hello\"",
        "props": [
            {
                "p": "payload",
                "vt": "str",
                "v": "Hello"
            },
            {
                "p": "topic",
                "vt": "str",
                "v": "ns=1;s=Writable.MachineName"
            },
            {
                "p": "datatype",
                "vt": "str",
                "v": "String"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 240,
        "wires": [
            [
                "ex03-client"
            ]
        ]
    },
    {
        "id": "ex03-client",
        "type": "opcua-client",
        "z": "ex03-tab",
        "name": "",
        "endpoint": "ex03-endpoint",
        "defaultOperation": "write",
        "x": 440,
        "y": 180,
        "wires": [
            [
                "ex03-debug"
            ]
        ]
    },
    {
        "id": "ex03-debug",
        "type": "debug",
        "z": "ex03-tab",
        "name": "Write Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "statusCode",
        "targetType": "msg",
        "statusVal": "statusCode",
        "statusType": "auto",
        "x": 650,
        "y": 180,
        "wires": []
    },
    {
        "id": "ex04-endpoint",
        "type": "opcua-endpoint",
        "name": "Test Server",
        "endpointUrl": "opc.tcp://opcua-server:4840/UA/TestServer",
        "securityMode": "None",
        "securityPolicy": "None"
    },
    {
        "id": "ex04-tab",
        "type": "tab",
        "label": "04 - Subscribe to Changes",
        "info": "Subscribe to live value changes. Click inject once to start the subscription. Every time the value changes on the server, a new message arrives at the debug node.\n\nThis example uses the included Docker test server. Start it with:\n\n    docker compose up -d\n\nThe Dynamic.* NodeIds are continuously updated by the test server, so you immediately see live values."
    },
    {
        "id": "ex04-comment",
        "type": "comment",
        "z": "ex04-tab",
        "name": "Click \"Subscribe Sinus\" to start — messages arrive every time the value changes",
        "x": 320,
        "y": 40,
        "wires": []
    },
    {
        "id": "ex04-inject-sub",
        "type": "inject",
        "z": "ex04-tab",
        "name": "Subscribe Sinus",
        "props": [
            {
                "p": "topic",
                "vt": "str",
                "v": "ns=1;s=Dynamic.Sinus"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 120,
        "wires": [
            [
                "ex04-client"
            ]
        ]
    },
    {
        "id": "ex04-inject-sub2",
        "type": "inject",
        "z": "ex04-tab",
        "name": "Subscribe Ramp",
        "props": [
            {
                "p": "topic",
                "vt": "str",
                "v": "ns=1;s=Dynamic.Ramp"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 180,
        "wires": [
            [
                "ex04-client"
            ]
        ]
    },
    {
        "id": "ex04-inject-unsub",
        "type": "inject",
        "z": "ex04-tab",
        "name": "Unsubscribe Sinus",
        "props": [
            {
                "p": "topic",
                "vt": "str",
                "v": "ns=1;s=Dynamic.Sinus"
            },
            {
                "p": "operation",
                "vt": "str",
                "v": "unsubscribe"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 240,
        "wires": [
            [
                "ex04-client"
            ]
        ]
    },
    {
        "id": "ex04-client",
        "type": "opcua-client",
        "z": "ex04-tab",
        "name": "",
        "endpoint": "ex04-endpoint",
        "defaultOperation": "subscribe",
        "x": 400,
        "y": 180,
        "wires": [
            [
                "ex04-debug"
            ]
        ]
    },
    {
        "id": "ex04-debug",
        "type": "debug",
        "z": "ex04-tab",
        "name": "Live Values",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 600,
        "y": 180,
        "wires": []
    },
    {
        "id": "ex05-endpoint",
        "type": "opcua-endpoint",
        "name": "Test Server",
        "endpointUrl": "opc.tcp://opcua-server:4840/UA/TestServer",
        "securityMode": "None",
        "securityPolicy": "None"
    },
    {
        "id": "ex05-tab",
        "type": "tab",
        "label": "05 - Browse Address Space",
        "info": "Browse the OPC UA server's address space. Send a NodeId via msg.topic to browse from that node, or leave empty to browse from RootFolder.\n\nThis example uses the included Docker test server. Start it with:\n\n    docker compose up -d\n\nThe test server provides a TestData folder with subfolders Scalar, Arrays, Dynamic, Methods and Writable in namespace 1."
    },
    {
        "id": "ex05-comment",
        "type": "comment",
        "z": "ex05-tab",
        "name": "Browse from different starting points — leave msg.topic empty for RootFolder",
        "x": 320,
        "y": 40,
        "wires": []
    },
    {
        "id": "ex05-inject-root",
        "type": "inject",
        "z": "ex05-tab",
        "name": "Browse Root",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 120,
        "wires": [
            [
                "ex05-browser"
            ]
        ]
    },
    {
        "id": "ex05-inject-objects",
        "type": "inject",
        "z": "ex05-tab",
        "name": "Browse Objects",
        "props": [
            {
                "p": "topic",
                "vt": "str",
                "v": "i=85"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 180,
        "wires": [
            [
                "ex05-browser"
            ]
        ]
    },
    {
        "id": "ex05-inject-testdata",
        "type": "inject",
        "z": "ex05-tab",
        "name": "Browse TestData",
        "props": [
            {
                "p": "topic",
                "vt": "str",
                "v": "ns=1;s=TestData"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 240,
        "wires": [
            [
                "ex05-browser"
            ]
        ]
    },
    {
        "id": "ex05-inject-scalar",
        "type": "inject",
        "z": "ex05-tab",
        "name": "Browse Scalar",
        "props": [
            {
                "p": "topic",
                "vt": "str",
                "v": "ns=1;s=Scalar"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 300,
        "wires": [
            [
                "ex05-browser"
            ]
        ]
    },
    {
        "id": "ex05-browser",
        "type": "opcua-browser",
        "z": "ex05-tab",
        "name": "",
        "endpoint": "ex05-endpoint",
        "x": 400,
        "y": 220,
        "wires": [
            [
                "ex05-debug"
            ]
        ]
    },
    {
        "id": "ex05-debug",
        "type": "debug",
        "z": "ex05-tab",
        "name": "References",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "browseResult.count",
        "statusType": "auto",
        "x": 600,
        "y": 220,
        "wires": []
    },
    {
        "id": "ex06-endpoint",
        "type": "opcua-endpoint",
        "name": "Test Server",
        "endpointUrl": "opc.tcp://opcua-server:4840/UA/TestServer",
        "securityMode": "None",
        "securityPolicy": "None"
    },
    {
        "id": "ex06-tab",
        "type": "tab",
        "label": "06 - Event Subscription",
        "info": "Subscribe to OPC UA events. The Event node monitors a source node (default: Server node i=2253) for events of a given type.\n\nThis example uses the included Docker test server. Start it with:\n\n    docker compose up -d\n\nClick \"Start\" to begin listening, then click \"Trigger Event\" to make the test server raise an event."
    },
    {
        "id": "ex06-comment",
        "type": "comment",
        "z": "ex06-tab",
        "name": "Click \"Start\" to listen, then \"Trigger Event\" to raise one. Each event produces a message.",
        "x": 360,
        "y": 40,
        "wires": []
    },
    {
        "id": "ex06-inject-sub",
        "type": "inject",
        "z": "ex06-tab",
        "name": "Start",
        "props": [
            {
                "p": "action",
                "vt": "str",
                "v": "subscribe"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 120,
        "wires": [
            [
                "ex06-event"
            ]
        ]
    },
    {
        "id": "ex06-inject-unsub",
        "type": "inject",
        "z": "ex06-tab",
        "name": "Stop",
        "props": [
            {
                "p": "action",
                "vt": "str",
                "v": "unsubscribe"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 180,
        "wires": [
            [
                "ex06-event"
            ]
        ]
    },
    {
        "id": "ex06-event",
        "type": "opcua-event",
        "z": "ex06-tab",
        "name": "",
        "endpoint": "ex06-endpoint",
        "sourceNodeId": "i=2253",
        "eventType": "BaseEventType",
        "x": 330,
        "y": 140,
        "wires": [
            [
                "ex06-debug"
            ]
        ]
    },
    {
        "id": "ex06-debug",
        "type": "debug",
        "z": "ex06-tab",
        "name": "Events",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload.severity",
        "statusType": "auto",
        "x": 530,
        "y": 140,
        "wires": []
    },
    {
        "id": "ex07-endpoint",
        "type": "opcua-endpoint",
        "name": "Test Server",
        "endpointUrl": "opc.tcp://opcua-server:4840/UA/TestServer",
        "securityMode": "None",
        "securityPolicy": "None"
    },
    {
        "id": "ex07-tab",
        "type": "tab",
        "label": "07 - Call a Method",
        "info": "Call an OPC UA method. The Object and Method NodeIds are configured in the node. Input arguments are passed via msg.payload as an array of {dataType, value}.\n\nThis example uses the included Docker test server. Start it with:\n\n    docker compose up -d\n\nThe test server provides:\n  - ns=1;s=Methods.Add (A:Double, B:Double) → Result:Double\n  - ns=1;s=Methods.Multiply (A:Double, B:Double) → Result:Double\n\nResult is in msg.payload (array of output values)."
    },
    {
        "id": "ex07-comment",
        "type": "comment",
        "z": "ex07-tab",
        "name": "Add(2, 3) and Multiply(4, 5) on the included test server",
        "x": 290,
        "y": 40,
        "wires": []
    },
    {
        "id": "ex07-inject",
        "type": "inject",
        "z": "ex07-tab",
        "name": "Add(2, 3)",
        "props": [
            {
                "p": "payload",
                "vt": "json",
                "v": "[{\"dataType\":\"Double\",\"value\":2},{\"dataType\":\"Double\",\"value\":3}]"
            },
            {
                "p": "methodNodeId",
                "vt": "str",
                "v": "ns=1;s=Methods.Add"
            },
            {
                "p": "objectNodeId",
                "vt": "str",
                "v": "ns=1;s=Methods"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 120,
        "wires": [
            [
                "ex07-method"
            ]
        ]
    },
    {
        "id": "ex07-inject2",
        "type": "inject",
        "z": "ex07-tab",
        "name": "Multiply(4, 5)",
        "props": [
            {
                "p": "payload",
                "vt": "json",
                "v": "[{\"dataType\":\"Double\",\"value\":4},{\"dataType\":\"Double\",\"value\":5}]"
            },
            {
                "p": "methodNodeId",
                "vt": "str",
                "v": "ns=1;s=Methods.Multiply"
            },
            {
                "p": "objectNodeId",
                "vt": "str",
                "v": "ns=1;s=Methods"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 180,
        "wires": [
            [
                "ex07-method"
            ]
        ]
    },
    {
        "id": "ex07-method",
        "type": "opcua-method",
        "z": "ex07-tab",
        "name": "",
        "endpoint": "ex07-endpoint",
        "objectNodeId": "ns=1;s=Methods",
        "methodNodeId": "ns=1;s=Methods.Add",
        "x": 390,
        "y": 150,
        "wires": [
            [
                "ex07-debug"
            ]
        ]
    },
    {
        "id": "ex07-debug",
        "type": "debug",
        "z": "ex07-tab",
        "name": "Method Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 600,
        "y": 150,
        "wires": []
    },
    {
        "id": "ex08-tab",
        "type": "tab",
        "label": "08 - Server with Variables",
        "info": "Create an OPC UA server, add a folder and a variable, and update its value. The server starts automatically on deploy.\n\nClick the inject nodes in order:\n1. Add Folder \"Sensors\"\n2. Add Variable \"Temperature\" (inside Sensors)\n3. Set Temperature = 25.5\n4. (optional) Get Server Info"
    },
    {
        "id": "ex08-comment1",
        "type": "comment",
        "z": "ex08-tab",
        "name": "Server starts on deploy. Use inject nodes to add variables and set values.",
        "x": 310,
        "y": 40,
        "wires": []
    },
    {
        "id": "ex08-server",
        "type": "opcua-server",
        "z": "ex08-tab",
        "name": "My Server",
        "port": 4840,
        "serverName": "Node-RED OPC UA Server",
        "maxAllowedSessionNumber": 10,
        "maxConnectionsPerEndpoint": 10,
        "x": 430,
        "y": 200,
        "wires": [
            [
                "ex08-debug"
            ]
        ]
    },
    {
        "id": "ex08-debug",
        "type": "debug",
        "z": "ex08-tab",
        "name": "Server Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 630,
        "y": 200,
        "wires": []
    },
    {
        "id": "ex08-comment2",
        "type": "comment",
        "z": "ex08-tab",
        "name": "Step 1: Add a folder and variable (click in order)",
        "x": 260,
        "y": 100,
        "wires": []
    },
    {
        "id": "ex08-inject-folder",
        "type": "inject",
        "z": "ex08-tab",
        "name": "Add Folder \"Sensors\"",
        "props": [
            {
                "p": "command",
                "vt": "str",
                "v": "addFolder"
            },
            {
                "p": "folderName",
                "vt": "str",
                "v": "Sensors"
            },
            {
                "p": "nodeId",
                "vt": "str",
                "v": "ns=1;s=Sensors"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 160,
        "wires": [
            [
                "ex08-server"
            ]
        ]
    },
    {
        "id": "ex08-inject-var",
        "type": "inject",
        "z": "ex08-tab",
        "name": "Add Variable \"Temperature\"",
        "props": [
            {
                "p": "command",
                "vt": "str",
                "v": "addVariable"
            },
            {
                "p": "variableName",
                "vt": "str",
                "v": "Temperature"
            },
            {
                "p": "parentNodeId",
                "vt": "str",
                "v": "ns=1;s=Sensors"
            },
            {
                "p": "nodeId",
                "vt": "str",
                "v": "ns=1;s=Temperature"
            },
            {
                "p": "datatype",
                "vt": "str",
                "v": "Double"
            },
            {
                "p": "initialValue",
                "vt": "num",
                "v": "20.0"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 220,
        "wires": [
            [
                "ex08-server"
            ]
        ]
    },
    {
        "id": "ex08-comment3",
        "type": "comment",
        "z": "ex08-tab",
        "name": "Step 2: Update the variable value",
        "x": 220,
        "y": 290,
        "wires": []
    },
    {
        "id": "ex08-inject-setval",
        "type": "inject",
        "z": "ex08-tab",
        "name": "Set Temperature = 25.5",
        "props": [
            {
                "p": "command",
                "vt": "str",
                "v": "setValue"
            },
            {
                "p": "nodeId",
                "vt": "str",
                "v": "ns=1;s=Temperature"
            },
            {
                "p": "datatype",
                "vt": "str",
                "v": "Double"
            },
            {
                "p": "payload",
                "v": "25.5",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "25.5",
        "payloadType": "num",
        "x": 180,
        "y": 340,
        "wires": [
            [
                "ex08-server"
            ]
        ]
    },
    {
        "id": "ex08-inject-info",
        "type": "inject",
        "z": "ex08-tab",
        "name": "Get Server Info",
        "props": [
            {
                "p": "command",
                "vt": "str",
                "v": "getServerInfo"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 400,
        "wires": [
            [
                "ex08-server"
            ]
        ]
    },
    {
        "id": "ex09-endpoint",
        "type": "opcua-endpoint",
        "name": "Test Server",
        "endpointUrl": "opc.tcp://opcua-server:4840/UA/TestServer",
        "securityMode": "None",
        "securityPolicy": "None"
    },
    {
        "id": "ex09-tab",
        "type": "tab",
        "label": "09 - Session Retry Test",
        "info": "Tests automatic session retry: reads a value, then reads again after session loss.\n\n1. Click 'Read Once' to verify the connection works.\n2. Click 'Continuous Read' to start periodic reads (every 2s).\n3. Restart the OPC UA server (docker restart opcua-server).\n4. Watch the debug output: you should see a brief 'reconnecting...' warning followed by successful reads — no manual intervention needed.\n5. Click 'Stop' to stop periodic reads.\n6. 'Batch Read' tests readmultiple with the same retry logic."
    },
    {
        "id": "ex09-comment",
        "type": "comment",
        "z": "ex09-tab",
        "name": "Session Retry Test — restart the OPC UA server while reads are running",
        "x": 350,
        "y": 40,
        "wires": []
    },
    {
        "id": "ex09-inject-once",
        "type": "inject",
        "z": "ex09-tab",
        "name": "Read Once",
        "props": [
            {
                "p": "topic",
                "vt": "str",
                "v": "ns=1;s=Scalar.Int32"
            }
        ],
        "repeat": "",
        "once": false,
        "x": 140,
        "y": 120,
        "wires": [
            [
                "ex09-client"
            ]
        ]
    },
    {
        "id": "ex09-inject-loop",
        "type": "inject",
        "z": "ex09-tab",
        "name": "Continuous Read (every 2s)",
        "props": [
            {
                "p": "topic",
                "vt": "str",
                "v": "ns=1;s=Dynamic.Sinus"
            }
        ],
        "repeat": "2",
        "once": false,
        "x": 200,
        "y": 180,
        "wires": [
            [
                "ex09-client"
            ]
        ]
    },
    {
        "id": "ex09-inject-stop",
        "type": "inject",
        "z": "ex09-tab",
        "name": "Stop",
        "props": [],
        "repeat": "",
        "once": false,
        "x": 130,
        "y": 240,
        "wires": [
            []
        ],
        "info": "Deploy to stop the continuous inject."
    },
    {
        "id": "ex09-client",
        "type": "opcua-client",
        "z": "ex09-tab",
        "name": "OPC UA Client",
        "endpoint": "ex09-endpoint",
        "defaultOperation": "read",
        "x": 440,
        "y": 150,
        "wires": [
            [
                "ex09-debug-value",
                "ex09-debug-status"
            ]
        ]
    },
    {
        "id": "ex09-debug-value",
        "type": "debug",
        "z": "ex09-tab",
        "name": "Value",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 650,
        "y": 120,
        "wires": []
    },
    {
        "id": "ex09-debug-status",
        "type": "debug",
        "z": "ex09-tab",
        "name": "Full msg",
        "active": false,
        "tosidebar": true,
        "console": false,
        "complete": "true",
        "targetType": "full",
        "x": 650,
        "y": 180,
        "wires": []
    },
    {
        "id": "ex09-comment2",
        "type": "comment",
        "z": "ex09-tab",
        "name": "── Batch Read (readmultiple) ──",
        "x": 210,
        "y": 320,
        "wires": []
    },
    {
        "id": "ex09-inject-batch",
        "type": "inject",
        "z": "ex09-tab",
        "name": "Batch Read (3 items)",
        "props": [
            {
                "p": "operation",
                "vt": "str",
                "v": "readmultiple"
            },
            {
                "p": "items",
                "vt": "json",
                "v": "[{\"nodeId\":\"ns=1;s=Scalar.Int32\"},{\"nodeId\":\"ns=1;s=Scalar.Double\"},{\"nodeId\":\"ns=1;s=Scalar.String\"}]"
            }
        ],
        "repeat": "",
        "once": false,
        "x": 180,
        "y": 380,
        "wires": [
            [
                "ex09-client-batch"
            ]
        ]
    },
    {
        "id": "ex09-inject-batch-loop",
        "type": "inject",
        "z": "ex09-tab",
        "name": "Continuous Batch (every 2s)",
        "props": [
            {
                "p": "operation",
                "vt": "str",
                "v": "readmultiple"
            },
            {
                "p": "items",
                "vt": "json",
                "v": "[{\"nodeId\":\"ns=1;s=Dynamic.Sinus\"},{\"nodeId\":\"ns=1;s=Dynamic.Ramp\"},{\"nodeId\":\"ns=1;s=Dynamic.Toggle\"}]"
            }
        ],
        "repeat": "2",
        "once": false,
        "x": 200,
        "y": 440,
        "wires": [
            [
                "ex09-client-batch"
            ]
        ]
    },
    {
        "id": "ex09-client-batch",
        "type": "opcua-client",
        "z": "ex09-tab",
        "name": "OPC UA Client (Batch)",
        "endpoint": "ex09-endpoint",
        "defaultOperation": "read",
        "x": 460,
        "y": 410,
        "wires": [
            [
                "ex09-debug-batch"
            ]
        ]
    },
    {
        "id": "ex09-debug-batch",
        "type": "debug",
        "z": "ex09-tab",
        "name": "Batch Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "count",
        "statusType": "auto",
        "x": 690,
        "y": 410,
        "wires": []
    },
    {
        "id": "ex09-comment3",
        "type": "comment",
        "z": "ex09-tab",
        "name": "── Write Test ──",
        "x": 170,
        "y": 520,
        "wires": []
    },
    {
        "id": "ex09-inject-write",
        "type": "inject",
        "z": "ex09-tab",
        "name": "Write 99.9",
        "props": [
            {
                "p": "topic",
                "vt": "str",
                "v": "ns=1;s=Writable.Temperature"
            },
            {
                "p": "payload",
                "vt": "num",
                "v": "99.9"
            },
            {
                "p": "datatype",
                "vt": "str",
                "v": "Double"
            },
            {
                "p": "operation",
                "vt": "str",
                "v": "write"
            }
        ],
        "repeat": "",
        "once": false,
        "x": 160,
        "y": 580,
        "wires": [
            [
                "ex09-client-write"
            ]
        ]
    },
    {
        "id": "ex09-client-write",
        "type": "opcua-client",
        "z": "ex09-tab",
        "name": "OPC UA Client (Write)",
        "endpoint": "ex09-endpoint",
        "defaultOperation": "write",
        "x": 460,
        "y": 580,
        "wires": [
            [
                "ex09-debug-write"
            ]
        ]
    },
    {
        "id": "ex09-debug-write",
        "type": "debug",
        "z": "ex09-tab",
        "name": "Write Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "complete": "true",
        "targetType": "full",
        "x": 690,
        "y": 580,
        "wires": []
    }
]